
{% extends 'main/base.html'%}
{% block content %}
{% load static %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

		

<div class="grid-container">
    <main> 
        <p> <button class="button_one"><a href="{% url 'create_event' %} "> Create Event</a></button> <button class="button_one"><a href="{% url 'events' %}?category=attending ">Attending</a></button> <button class="button_one"><a href="{% url 'events' %}?category=myevents "> My Event</a></button></p>
           {%for event in events %}
           <div class="event" id="event{{event.id}}">
            <button class="delete" onclick="deleteEvent(slug='{{event.slug}}',id='event{{event.id}}')"><i class="fa-solid fa-delete-left"></i></button>
            <div class="date">
                <div> {{ event.start_date|date:"d" }}</div>
                <div>{{ event.start_date|date:"M" }}</div>
            
            </div>
            <div class="info">
                <p style="color:var(--primary-color);font-size:larger">{{event.title}}</p>
                <div class="flex" style="gap: 0;margin-top: 0.8rem;"> <div class="roundedprofile" style="background:url('{{event.user.profilepic}}');background-position: center; background-size: contain;" > </div> <a href=" {% url 'profile' event.user.ui %}"> <div style="margin-left:5px"> {{event.user.get_full_name}} </div></a></div>
                <p style="padding-left: 7px;"> <i class="fa-solid fa-calendar-days"></i>  {{event.start_date}}  to {{event.end_date}}</p>
                <br>

                <div class="toggle-text"> {{event.description|safe}} </div>
                <br>
                <button class="button_one" onclick="updateAttending(slug='{{event.slug}}',id='button{{event.id}}')" id="button{{event.id}}">
                    {% if request.user in event.attendees.all %}
                    <span>Attending</span>
                    {%else%}
                    <span> Interested</span>
                    {%endif%}

                </button>
                <button class="button_one">{{event.attending.all.count}}</button>
            </div>
        
           </div>
           {% endfor %}
        
    </main>
    <script>
        function deleteEvent(slug,id) {
          if (confirm("Are you sure you want to delete this Event?")) {
            var url = "delete?event=" + slug;
        
            $.ajax({
              url: url,
              success: function(data) {
                if (data.comment == "deleted") {
                  $("#" + id).remove();
                }
              },
              error: function() {
                alert("There was an error deleting the event.");
              }
            });
          }
        }
      </script>
 
<script>
    function updateAttending(slug,id) {
        var url = 'attending?event=' + slug;

        $.ajax({
          url: url,
          success: function(data) {
            if (data.comment == 'added') {
              $(`#${id}`).text('Attending');
              
            } else {
              $(`#${id}`).text('Interested');
            }
          },
          error: function() {
            alert('There was an error updating your attending status.');
          }
        });
      }
</script>
<script>
    const elements = document.getElementsByClassName("toggle-text");
    for (let i = 0; i < elements.length; i++) {
    const element = elements[i];
    const text = element.innerText.trim();
    if (text.length > 100) {
   
    const fullText = element.innerHTML  + `<span id="showmore-less" style="margin-block: 5px; color:#d4c44b ;cursor: pointer;" >...less </span>
  `;
    const shortText = element.innerHTML.substring(0, 100) + ` <span id="showmore-less" style="margin-block: 5px; color:#d4c44b ;cursor: pointer;" >... details </span>
  `;
    element.innerHTML = shortText;
      let isTruncated = false;
      element.addEventListener("click", function() {
       
        if (isTruncated) {
        
        element.innerHTML = shortText;
  
        } else {
        element.innerHTML = fullText;
  
        }
    
        isTruncated = !isTruncated;
      });
    }
  } 
    </script>
    </div>
    <style>
    .grid-container{
        display: block;
        grid-template-columns: 35% 1fr;
        gap: 1rem;
        min-height: 80vh;
        padding-inline: 5%;
        width: 100%;
        max-width: 1700px;
    }
    main{
        background-color: white;
        padding: 1rem;
        margin-bottom: 0;
        position: relative;
    }
    .sidebars{
        position: sticky;
        top:50px
    }

   .event{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    padding: 1rem;
    margin-top: 10px;
    position: relative;
   }
   .date{
    width:200px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    flex-direction: column;

   }
.info{
    width:80% ;
}
.toogle-text{
    width: 100%;
    margin-top: 1rem;
}
.delete{
    position: absolute;
    top:0;
    right: 0;
    padding: 0.5rem;
    background-color: whitesmoke;
    font-size: 1.3rem;
}
@media screen and (max-width:780px) {
    body{
        background-color: white;
    }
    .event{
    display: block;

   }
   .date{
    width:100%;
    padding: 1rem;
    background-color: whitesmoke;
    margin-bottom: 1rem;
    flex-direction: row;
    justify-content: start;
    gap: 5px;
}   
.grid-container{
    display: block;
    width: 100%;
    margin-bottom: 0;

}
.info{
    width: 100%;
}
main{
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 0rem;
    border-radius: 0px;
    margin-top: 20px;
    margin-bottom: 100px;
}
.delete{
    margin: 1rem;
}
    }

    </style>
    {%endblock%}
