
{% extends 'main/base.html'%}
{% block content %}
{% load static %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

		

<div class="grid-container">
    <main> 
        <p> <button class="button_one"><a href="{% url 'create_event' %} "> Create Event</a></button> <button class="button_one"><a href="{% url 'events' %}?category=attending ">Attending</a></button> <button class="button_one"><a href="{% url 'events' %}?category=myevents "> My Event</a></button></p>
        <br>
           {%for event in events %}
           <div class="event">
            <div class="date">
                <div> {{ event.start_date|date:"d" }}</div>
                <div>{{ event.start_date|date:"M" }}</div>
               

            </div>
            <div class="info">
                <h3>{{event.title}}</h3>
                <div class="flex" style="gap: 0;margin-bottom: 1rem;"> <div class="roundedprofile" style="background:url('{{event.user.profilepic}}');"> </div> <a href=" {% url 'profile' event.user.ui %}"> <div style="margin-left:1rem"> {{event.user.get_full_name}} </div></a></div>

                <p>start: {{event.start_date}}</p>
                <p>End: {{event.end_date}}</p>
                <p class="toggle-text"> {{event.description|safe}} </p>
                <br>
                <button class="button_one" onclick="updateAttending(slug='{{event.slug}}',id='button{{event.id}}')" id="button{{event.id}}">
                    Interested
                </button>
                <button class="button_one">{{event.attending.all.count}}</button>
            </div>
        
           </div>
           {% endfor %}
        
    </main>

 
<script>
    function updateAttending(slug,id) {
        var url = 'attending?event=' + slug;

        $.ajax({
          url: url,
          success: function(data) {
            if (data.comment == 'added') {
              $(`#${id}`).text('Attending');
              
            } else {
              $(`#${id}`).text('Interested');
            }
          },
          error: function() {
            alert('There was an error updating your attending status.');
          }
        });
      }
</script>
<script>
    const elements = document.getElementsByClassName("toggle-text");
    for (let i = 0; i < elements.length; i++) {
    const element = elements[i];
    const text = element.innerText.trim();
    if (text.length > 100) {
   
    const fullText = element.innerHTML  + `<span id="showmore-less" style="margin-block: 5px; color:#d4c44b ;cursor: pointer;" >...less </span>
  `;
    const shortText = element.innerHTML.substring(0, 100) + ` <span id="showmore-less" style="margin-block: 5px; color:#d4c44b ;cursor: pointer;" >... details </span>
  `;
    element.innerHTML = shortText;
      let isTruncated = false;
      element.addEventListener("click", function() {
       
        if (isTruncated) {
        
        element.innerHTML = shortText;
  
        } else {
        element.innerHTML = fullText;
  
        }
    
        isTruncated = !isTruncated;
      });
    }
  } 
    </script>
    </div>
    <style>
    .grid-container{
        display: block;
        grid-template-columns: 35% 1fr;
        gap: 1rem;
        min-height: 80vh;
        padding-inline: 5%;
        width: 100%;
        max-width: 1700px;
    }
    main{
        background-color: white;
        padding: 1rem;
        border-radius: 20px;
        margin-bottom: 0;
        position: relative;
    }
    .sidebars{
        position: sticky;
        top:50px
    }

   .event{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    padding: 1rem;
   }
   .date{
    width:200px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    flex-direction: column;

   }
.info{
    width:80% ;
}
.toogle-text{
    width: 100%;
    margin-top: 1rem;
}
    @media screen and (max-width:780px) {
    .event{
    display: block;

   }
   .date{
    width:100%;
    height: 100px;
   }
.grid-container{
    display: block;
    width: 100%;
    margin-bottom: 0;
}
.info{
    width: 100%;
}
main{
    width: 100%;
    border: none;
    padding: none;
    background-color: transparent;
padding: 0rem;
border-radius: 0px;


}

    }

    </style>
    {%endblock%}
