
{% extends 'main/base.html'%}
{% block content %}
{% load static %}
<div class="grid-container">

<main> 
		{%if not threads %}
		<p> No Converstions </p>
		{%endif%}
		{% for thread, unread_count in threads %}
		<div class="contact-item">
							<a href=" {% url 'chatroom' thread.id %}" class="flex" style="justify-content: space-between; position: relative;">
								{% if thread.first_person == user %}
								
									<div class="flex"> 
										
										 <span class="roundedprofile" style="background:url('{{ thread.second_person.profilepic}}') ;background-position: center; background-size: contain;"> 
										</span> 
				
										<div>
											<div class="contact-name"> {{ thread.second_person.get_full_name|title }} </div>	
											<div class="lastmessage"> {{thread.chatmessage_thread.last.message | truncatechars:40 }} </div>
											<span> {{thread.chatmessage_thread.last.message.whenpublished}}</span>

										</div>
									</div>
									
							
								{% else %}
								<div class="flex"> 
									<span class="roundedprofile" style="background:url('{{ thread.first_person.profilepic}}') ;background-position: center; background-size: contain;"> 
									</span> 
			
									<div>
										<div class="contact-name"> {{ thread.first_person.get_full_name|title }} </div>	
										<div class="lastmessage"> {{thread.chatmessage_thread.last.message | truncatechars:30 }} </div>
										<span> {{thread.chatmessage_thread.last.message.whenpublished}}</span>

									</div>
								</div>
								{% endif %}
								{% if unread_count > 0 %}
                                	<span style="padding: 0px 5px;background-color:#4ba064; color: white; ">{{ unread_count }}</span>
								{% endif %}

							</a>

					</div>
				
		{% endfor %}
 
		
	
</main>



</div>


<style>
	.grid-container{
    display: block;
    min-height: 80vh;
    padding-inline: 5%;
    width: 100%;
    max-width: 1700px;
}
main{
	background-color: white;
	padding: 1rem;
	border-radius: 5px;
}
.roundedprofile{
	height: 40px;
	width: 40px;
	border-radius: 50%;
	display: inline-block;
	object-fit: contain;
}
.contact-item{
	padding: .5rem;
	margin-bottom: 10px;
	border-bottom: 1px solid #f5f5f5;
}
.contact-item:hover{
	background-color: #f5f5f5;
	border-radius: 20px;

}
.flex{
	display: flex;
	justify-content: left;
	align-items: center;
	gap: 20px;
}

.contact-name{
color: black;
}
.lastmessage{
	margin-top: 5px;
}
@media screen and (max-width:780px) {
	body{
    background-color: #fff;
}
    .grid-container{
        display: block;
        width: 100%;
    }
    .sidebar{
        display: none;
    }
    main{
        width: 100%;
		border: none;
		padding: none;
		background-color: transparent;
	padding: 0rem;
	border-radius: 0px;

    }
    .profile-container{
        width: 100%;
    }
	.contact-item:hover{
	background-color: transparent;
}


}
</style>
{%endblock%}