{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Lexend+Deca:wght@200;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6077df5cfa.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'styles/mainstyle.css'%}">
    <link rel="stylesheet" href="{% static stylesheet %}">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="https://myagricdiary-space.fra1.cdn.digitaloceanspaces.com/agric-static%2Fimages%2Fappletouch.png">


<title>My Agric Diary </title>
</head>
<body>
        <header>
            <div class="header-flex">
            <div class="logo">
             <a href="{% url 'articles' %}">
                   <picture>
                    <source srcset="{% static 'images/my agric-diary.png'%}" media="(min-width: 768px) " width="100%">
                    <source srcset="https://myagricdiary-space.fra1.cdn.digitaloceanspaces.com/agric-static%2Fimages%2Flogomobilepng" media="(max-width: 768px)" width="40rem">
                    <img src="{% static 'images/my agric-diary.png'%}" width="100%">

                  </picture>
                  
                </a>
            </div>                           
            <div class="header-right">
                    {% if request.user.is_authenticated %}
                            <span style="width: 250px" id="searchusertop">
                                <a href="{% url 'searchpage' %}">
                                <form>
                                    <input type="search" name="search" id="search" placeholder="Search Users or Pages">
                                  </form>
                                  </a>
                            </span>
                            <span> 
                                <a href="{% url 'notification' %}">
                                    <span class="notification-wrapper">
                                        <span class="notification-counter"> 
                                               <span><i class="fa-regular fa-bell"> </i> </span>                         
                                                <span id="counter" class="counter"> {{count}} </span>                              
                                        </span>
                                    </span>
                                </a> 
                            </span>
                        <span>
                            
                            <a href="{% url 'profile' request.user.id %}">
                                <div class="roundedprofile" style="background:url('{{request.user.profilepic}}') ;background-position: center; background-size: contain;">
                             </div> 
                            </a>   
                        </span>
                        <span class="dropdown">
                                <span class="dropbtn" onclick="myFunction(data='myDropdown{{article.id}}')"> <i class="fa-solid fa-caret-down"></i></span>
                                <div id="myDropdown{{article.id}}" class="dropdown-content">
                                  
                                    <li> <a href="{% url 'profile'  request.user.id %}"> <i class="fa-solid fa-user"></i> Profile</a> </li>
                                    <li>  <a href="{% url 'myproducts'   %}"> <i class="fa-solid fa-cubes-stacked"></i> My products</a></li>
                                    <li> <a href="{% url 'privacy-settings' %}"><i class="fa-sharp fa-solid fa-gear"></i> Privacy Settings  </a></li> 

                                <li> 
                                    <a href="{% url 'create-company' %}">  <i class="fa-sharp fa-solid fa-plus"></i> Create Page  </small></a> 
                                </li>                                
                                {% if mypages %}
                                <li style="margin-top: 10px;"> Manage Pages </li>
                                    {%for pages in mypages %}
                              
                                    <li> 
                                          <a href="{%  url 'dashboard' pages.identifier  %} "><small style="margin-left: 10px;">>  {{ pages.name|title}}  </small></a> 
                                      </li>
                                 
                                    {%endfor%}

                                {%endif%}
                                <li> <a href="{% url 'logout' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i> <small> Logout  </small></a></li>

                                </div>
                        </span>

                    </a>   
                    {% else %}
                        <span> <a href="{% url 'login' %}"> Login </a> </span>
                        <span> <a href="{% url 'signup' %}"> Signup </a></span>

                    {% endif %}
            </div>
            </div>
            {% if request.user.is_authenticated %}
            <div style="width: 100%;margin-top: 1rem;" id="searchuserbottom">
                <a href="{% url 'searchpage' %}">
                <form>
                    <input type="search" name="" id="" placeholder="Search Users or Pages ">
                  </form>
                </a> 
            </div>
            {% endif %}


        </header>

 
        {% if request.user.is_authenticated %}
                    {% if  not request.user.is_verified %}
                    <p style="text-align: center;margin-top: -25px;font-size: small;padding: 1rem;background-color: #d1eadb;" id="message-verify"> An email was sent to {{request.user.email}}.Please click on the verifcation link to veriry your account</p> 
                    {%endif%}

                    {% for messsage in messages %}
                    <p style="text-align: center;margin-top: -25px;font-size: small;padding: 1rem;background-color: #d1eadb; display: block !important;" id="ifmessage" {% if  not request.user.is_verified %} style="margin-top:3px !important" {%endif%} >{{ messsage }}  </p>
                    {% endfor %}
              
                 </p>
                 {%endif%}
        


   <div class="flex-container">
    <div class="bodynav_right">
        <a href="{% url 'articles' %}"> <i class="fa-solid fa-house"></i> <small> Home </small></a>
        <a href="{% url 'profile'  request.user.id %}"> <i class="fa-solid fa-user"></i><small>  Profile</small> </a>
        <a href="{% url 'notification' %}"> <i class="fa-regular fa-bell"></i> <small> Notification </small>  </a>
        <a href="{% url 'chatlobby' %}"> <i class="fa-solid fa-message"></i>  <small style="position: relative;"> Messages <span class="counter"> {{unread}} </span></small></a>
        <a href="{% url 'market' %}"> <i class="fa-solid fa-store"></i><small>  Market </small> </a>
        <a href="{% url 'ai_room' %}"> <i class="fa-solid fa-circle-info"></i><small> Ai chat </small>  </a>
        <a href="{% url 'create-company' %}"> <i class="fa-sharp fa-solid fa-plus"></i><small> Create page </small>  </a>

        <a href="{% url 'logout' %}"><i class="fa-solid fa-arrow-right-from-bracket"></i> <small> Logout  </small></a>

    </div>
        {% block content %}
        {% endblock%}
    </div>
        <footer style="text-align:center;">
     
                <a href="{% url 'articles' %}"> <i class="fa-solid fa-house"></i> <small>Home </small> </a>
                <a href="{% url 'chatlobby' %}"> 
                    <span class="notification-counter"> 
                        <i class="fa-solid fa-message"></i> 
                        {% if unread > 0 %}
                            <span class="counter" style="font-size:small"> {{unread}} </span>
                        {% endif %}
                    </span>
                    <small>Messages </small>  
                </a>
                <a href="{% url 'add_article'%}" class="yellow">  <i class="fa-solid fa-square-plus yellow" ></i>  <small> Post</small> </a>
                <a href="{% url 'market' %}"> <i class="fa-solid fa-store"></i><small> Market </small>  </a>
                <a href="{% url 'ai_room' %}"><i class="fa-solid fa-circle-info"></i><small> ai chat </small>  </a>

        </footer>

        <script>
            function myFunction(id) {      
          let elt =document.getElementById(id);
          console.log(elt)
          elt.classList.toggle("show");
         
            }
        </script>
<script>

</script>


</body>


<style> 

    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    .dropbtn {

    font-size: 1.4rem;
        margin-top: -5px;
  
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: white;
      min-width: 200px;
      padding: 1rem;
      top:40px;
      z-index: 1;
      right: 0;
        border-radius: 7px;
        font-size: medium;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    }
    
    .dropdown-content li{
        list-style: none;
        padding-block: 1rem;
        color:grey;
        border-bottom:1px solid #f5f5f5 ;
    }
        .dropdown-content span a{
        color: grey;
    }
    li a{
        color: grey;
    }
    .show {
      display: block;
    }
    form{
        width:100% !important;
    }

    </style>
</html>
