{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Lexend+Deca:wght@200;400;700&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="{% static stylesheet %}">
    <title>My Agric Diary </title>
</head>
<body>
    <header>
        <div class="header-flex">
        <div class="logo">
         <a href="../../../">   <img src="{% static 'images/my agric-diary.png'%}" width="100%"></a>
        </div>                           
        <div class="header-right">
            <span> Right</span>
        </div>
        </div>
    </header>
    <main>
        <h1>Cookie Policy</h1>

        <div> <span> <a href="https://myagricdiary.com/legal/user_agreement/"> User agreement </a> </span> <span> <a href="https://myagricdiary.com/legal/privacypolicy/"> Privacy Policy </a> </span> <span> <a href="https://myagricdiary.com/legal/cookie_policy/"> Cookie Policy </a> </span> </div>
        <div>
            <p>This Cookie Policy explains how MyAgricDiary (&quot;we&quot;, &quot;us&quot;, &quot;our&quot;) uses cookies on our website, mobile applications, and other online services that link to this Cookie Policy (collectively, our &quot;Services&quot;).</p>
            <p>What are cookies?Cookies are small data files that are placed on your device when you visit certain websites. Cookies serve different purposes, like helping us understand how a site is being used, letting you navigate between pages efficiently, remembering your preferences, and generally improving your browsing experience.</p>
            <p>What types of cookies do we use and why?Essential cookies: These cookies are necessary to provide you with our Services and to enable you to use some of their features, such as accessing secure areas.</p>
            <p><strong>Performance and functionality cookies:</strong> These cookies are used to enhance the performance and functionality of our Services, but are non-essential to their use. However, without these cookies, certain functionality (like videos) may become unavailable.</p>
            <p><strong>Analytics and customization cookies:</strong> These cookies collect information that is used either in aggregate form to help us understand how our Services are being used or how effective our marketing campaigns are, or to help us customize our Services for you.</p>
            <p><strong>Advertising cookies:</strong> These cookies are used to make advertising messages more relevant to you. They perform functions like preventing the same ad from continuously reappearing, ensuring that ads are properly displayed for advertisers, and in some cases selecting advertisements that are based on your interests.</p>
            <p><strong>Social networking cookies:</strong> These cookies are used to enable you to share pages and content on our Services through third-party social networking and other websites.</p>
            <p>How can you control cookies?You can set or amend your web browser controls to accept or refuse cookies. If you choose to reject cookies, you may still use our Services, though your access to some functionality and areas of our Services may be restricted.</p>
            <p><strong>Changes to this Cookie Policy</strong>We may update this Cookie Policy from time to time. If we make material changes, we will provide notice to you either by email, by posting a notice on our Services or by posting an updated Cookie Policy on our Services.</p>
            <p><strong>Contact Us&nbsp;</strong>If you have any questions or concerns about our use of cookies, please contact us at&nbsp; contact@myagricdiary.com.</p>
        </div>
    </main>
<style>
    main{
        padding: 1rem;
        max-width: 600px;
    }
</style>

</body>
</html>