{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Lexend+Deca:wght@200;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles/mainstyle.css'%}">

    <link rel="stylesheet" href="{% static stylesheet %}">
    <title>User Agreement - myAgricDiary</title>
</head>
<body>
    <header>
        <div class="header-flex">
        <div class="logo">
         <a href="../../../">   <img src="{% static 'images/my agric-diary.png'%}" width="100%"></a>
        </div>                           
        <div class="header-right">
            <span> </span>
        </div>
        </div>
    </header>
    <main>
        <h1>User Agreement</h1>

        <div> <span > <a href="https://myagricdiary.com/legal/user_agreement/"> User agreement </a> </span> <span> <a href="https://myagricdiary.com/legal/privacypolicy/"> Privacy Policy </a> </span> <span> <a href="https://myagricdiary.com/legal/cookie_policy/"> Cookie Policy </a> </span> </div>
        <div>
            <p>
                This User Agreement (“Agreement”) is a legal agreement between you (“User”) and MyAgricDiary (“Company”) governing your use of the Company’s website and mobile application (“Platform”). By using the Platform, you agree to be bound by the terms and conditions of this Agreement. If you do not agree with the terms and conditions of this Agreement, you may not use the Platform.
            </p>
            <ol>
                <li>
                    <p>Use of the Platform:The Company grants you a limited, non-exclusive, non-transferable, and revocable license to use the Platform for your personal use only. You may not use the Platform for any commercial purpose without the Company&rsquo;s express written consent.</p>
                </li>
                <li>
                    <p>User Content:You are solely responsible for any content that you upload, post, or transmit through the Platform (&ldquo;User Content&rdquo;). The Company does not claim ownership of your User Content, but you grant the Company a non-exclusive, worldwide, royalty-free, perpetual, and irrevocable license to use, reproduce, modify, adapt, publish, translate, distribute, display, and create derivative works from your User Content in any form or medium.</p>
                </li>
                <li>
                    <p>Prohibited Conduct:You agree not to use the Platform for any unlawful purpose or in any way that violates this Agreement. You further agree not to engage in any conduct that could damage, disable, overburden, or impair the Platform, or interfere with any other party&rsquo;s use and enjoyment of the Platform.</p>
                </li>
                <li>
                    <p>Intellectual Property:The Platform and its contents, including but not limited to text, graphics, logos, images, and software, are the property of the Company or its licensors and are protected by copyright, trademark, and other intellectual property laws. You may not copy, modify, distribute, display, transmit, or create derivative works from any content on the Platform without the Company&rsquo;s express written consent.</p>
                </li>
                <li>
                    <p>Disclaimer of Warranties:THE PLATFORM IS PROVIDED ON AN &ldquo;AS IS&rdquo; AND &ldquo;AS AVAILABLE&rdquo; BASIS WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. THE COMPANY DOES NOT WARRANT THAT THE PLATFORM WILL BE UNINTERRUPTED OR ERROR-FREE, NOR DOES IT MAKE ANY WARRANTY AS TO THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE PLATFORM.</p>
                </li>
                <li>
                    <p>Limitation of Liability:IN NO EVENT SHALL THE COMPANY BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, OR PUNITIVE DAMAGES ARISING OUT OF OR IN CONNECTION WITH YOUR USE OF THE PLATFORM, INCLUDING BUT NOT LIMITED TO LOSS OF PROFITS, LOSS OF DATA, OR LOSS OF GOODWILL, WHETHER BASED ON WARRANTY, CONTRACT, TORT, OR ANY OTHER LEGAL THEORY, EVEN IF THE COMPANY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</p>
                </li>
                <li>
                    <p>Indemnification:You agree to indemnify and hold harmless the Company, its officers, directors, employees, and agents from any and all claims, demands, losses, liabilities, and expenses (including reasonable attorneys&rsquo; fees) arising out of or in connection with your use of the Platform, your User Content, or your violation of this Agreement.</p>
                </li>
                <li>
                    <p>Governing Law:This Agreement shall be governed by and construed in accordance with the laws of [insert jurisdiction]. Any legal action or proceeding arising out of or in connection with this Agreement shall be brought exclusively in the courts of Cameroon.</p>
                </li>
            </ol>
        </div>
    </main>

    <style>
        main{
            padding: 1rem;
            max-width: 600px;
            margin-inline: auto;
            margin-top: 110px;
        }
        main p,h3,h1{
            margin-block: 1rem !important;
        }
        span{
            margin-block: 1rem;
             margin-inline-end: 10px;
}
a{
    color: var(--primary-color);
}
        

    </style>
    
    </body>
    </html>