{% extends 'main/base.html'%}
{% block title %}Forums | My AgricDiary{% endblock %} 
{% block content %}
{% load static %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="grid-container">

<main> 
    <div class="forums">
		
            <div class="forum">
                <div class="info">
                    <div style="display: flex;justify-content: space-between; padding-bottom: 1rem;">                        
                    <div class="flex"> 
                            <span class="roundedprofile" style="background:url('{{forum.created_by.profilepic}}') ;background-position: center; background-size: contain;width: 25px!important;height: 25px !important;"> </span> 
                            <div> 
                                <a href="{%  url 'profile' forum.created_by.ui %}"><small> {{ forum.created_by.get_full_name|title}}  </small></a>  
                                <p style="color: gray;font-size: small;">{{forum.whenpublished}}</p>
                            </div>
                    </div>
                        <button class="join-button button_one" data-forum-id="{{forum.identifier}}"><small>Join</small></button>

                    </div>
                    <hr>
                        <p class="name"><a href="{% url 'forumroom' forum.identifier %}"></a> {{forum.topic}}</p>
                        <div class="forum-stats"> 
                            <span><i class="fa-regular fa-message"></i> {{forum.forum_messages.count}} </span>
                            <span> <i class="fa-solid fa-up-long"></i> {{forum.total_upvotes}}</span> 
                            <span> <i class="fa-solid fa-user-group"></i> {{forum.members.count}}</span>
                   </div>
                        <div> {{forum.room_description|safe}}</div>
               
                </div>
                <form id="send-message-form">
                    {% csrf_token %}
                    <input type="hidden" name="forum" id="forum-id" value="{{forum.identifier}}"/>
            
                    <div style="display: flex;">
                        {% if request.user in forum.members.all %}
                        <input type="text" name="message" id="input-message" required placeholder="Leave a Comment"/>
                        <button type="submit" class="button_one"><i class="fa-regular fa-pen-to-square"></i></button>
                        {%else%}
                        <input type="text" name="message" id="input-message"  placeholder="Leave a Comment" onclick="alert('To send messages, you need to join this forum.')"/>
                        <button  class="button_one" disabled><i class="fa-regular fa-pen-to-square"></i></button>
                        {%endif%}
                    </div>
                </form>
            </div>
    </div>
    <div id="messagebody">
        {% for message in forummessages %}
        <div class="forum_messages" id="forum_messages{{message.id}}"> 
                <div class="flex"> 
                    <span class="roundedprofile" style="background:url('{{message.author.profilepic}}') ;background-position: center; background-size: contain;width: 25px!important;height: 25px !important;"> </span> 
                    <div> 
                        <a href="{%  url 'profile' message.author.ui %}"> {{ message.author.get_full_name|title}}  </a>
                        <p style="color: gray;font-size: small;"> {{message.whenpublished}}</p>
                    </div>                            
                </div>
                <p style="margin-top: 0.4rem;">{{message.content}}</p>
            <div class="forum-stats"> 
                <button class="upvote" data-message-id="{{message.id}}"> <i class="fa-solid fa-up-long"></i>  {{message.upvote}} </button>
                {% if message.author == request.user %}
                <button class="deletemessage" data-message-id="{{message.id}}" data-message-container="forum_messages{{message.id}}"> <i class="fa-solid fa-delete-left"></i></button>
                {%endif%}
            </div>
        </div>
        {%endfor%}
    </div>


</main>

</div>

<script src="{% static 'scripts/forum.js'%}"></script>

<script>

$('#send-message-form').submit(function(e){
e.preventDefault();

var message = $('#input-message').val();
var forum= $('#forum-id').val();

$.ajax({
  url: '/forum/sendmessage/',
  dataType: 'json',
  method:'POST',
  data : {
    'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
  'message' : message,
  'forum':forum,
},
  success:function(data) {
   let questiondiv = `<div class="forum_messages" id="forum_messages{{message.id}}"> 
                <div class="flex"> 
                    <span class="roundedprofile" style="background:url('{{request.user.profilepic}}') ;background-position: center; background-size: contain;width: 25px!important;height: 25px !important;"> </span> 
                    <div> 
                        <a href="{%  url 'profile' request.user.ui %}"> {{ request.user.get_full_name|title}}  </a>
                    </div>                            
                </div>
                <p style="margin-top: 0.4rem;"><pre>${message}<pre></p>
        </div>
`
let message_body = $('#messagebody')
message_body.append($(questiondiv))
$('#input-message').val(null);
scrollToBottom();

  }
});
})
</script>
<style>
    .forum_messages{
        padding: 1rem;
        background-color: white;
        margin-bottom: 1rem;
    }
    .flex{
        gap:5px;
        align-items:flex-start;
    }
    .info{
        padding: 1rem;
        background-color: white;
        margin-bottom: 2rem;
    }
    .forum-stats span,.forum-stats button{
        padding: 0.2rem 0.7rem;
        background-color: whitesmoke;
        border-radius: 5px;
        margin-inline-end: 1rem;
        text-align: center;
    }
    .forum-stats{
        margin-block: 1rem;
    }
    .name{
        font-size: larger;
        margin-top: 1rem;
    }
    pre{
        white-space: break-spaces;
    }
    #input-message{
        margin: 0;
    }
    #send-message-form{
       padding: 1rem;
       background-color: white;
       margin-bottom: 1rem;
    }
    main{
        position: relative;
        min-height: 80vh;
    }
    footer{
        display: none;
    }
    #messagebody{
        min-height: 100vh;
    }
</style>

<script>
    $(document).ready(function() {
    // Set up click event listener for the join buttons
    $('.upvote').on('click', function() {
        // Get the forum id from the data attribute of the button
        var msg_id = $(this).data('message-id');
        // Store the button element in a variable for later use
        var button = $(this);
        // Send an AJAX request to the join_forum view
        $.ajax({
            url: '/forum/upvote/message',
            type: 'GET',
            data: { msg_id:msg_id },
            dataType: 'json',
            success: function(data) {
                // Update the button text and data attribute based on the response
                    button.html('<i class="fa-solid fa-up-long"></i> ' + data.data);
                    button.data('message-id', msg_id);
            },
            error: function(xhr, status, error) {
                // Handle errors here
                console.log('Error:', error);
            }
        });
    });
});

</script>
<style>
    .forum_messages{
        padding: 1rem;
        background-color: white;
        margin-bottom: 1rem;
    }
    .flex{
        gap:5px;
        justify-content: flex-start;
    }
</style>
<script>
   $(document).ready(function() {
    // Set up click event listener for the delete buttons
    $('.deletemessage').on('click', function() {
        // Get the message id and container from the data attributes of the button
        var msg_id = $(this).data('message-id');
        var msg_con = $(this).data('message-container');

        // Store the button element in a variable for later use
        var button = $(this);
        var messageContainer = $(`#${msg_con}`);

        // Display a confirmation dialog box
        if (confirm("Are you sure you want to delete this message?")) {
            // If the user confirms, send an AJAX request to delete the message
            $.ajax({
                url: '/forum/delete/message',
                type: 'GET',
                data: { msg_id: msg_id },
                dataType: 'json',
                success: function(data) {
                    // Update the UI based on the response
                    messageContainer.remove();
                },
                error: function(xhr, status, error) {
                    // Handle errors here
                    console.log('Error:', error);
                }
            });
        }
    });
});


</script>
{%endblock%}