{% extends 'main/base.html'%}
{% block content %}


<div class="grid-container">
<div class="edit-product-container"> 
        <form action="{% url 'edit_product' slug=productitem.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <br>
            <button type="submit" value="Update" class="button_one">Update </button>
        </form>
</div>
</div>
<style>
.edit-product-container{
    width:100%;
    margin-inline: auto;
    max-width: 800px;
    padding: 1rem;
    margin-bottom: 150px;
}
.button_one{
    width: 100%;
}
input{
    padding: 1rem;
    background-color: white;
}
select,input,p{
    margin-block: 1rem;

}
.bodynav_right{
    padding-top: 130px;
} 
select{

}
</style>
{% endblock %}