{% extends 'main/base.html'%}
{% block content %}



<div class="edit-product-container"> 
        <form action="{% url 'edit_product' slug=productitem.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.as_p}}
            <br>
            <button type="submit" value="Update" class="button_one">
        </form>
</div>

<style>
.edit-product-container{
    width:100%;
    margin: auto;
    max-width: 800px;
    padding: 1rem;
}
.button_one{
    width: 100%;
}
input{
    padding: 1rem;
}

 
</style>
{% endblock %}