{% extends 'main/base.html'%}
{% block content %}

<div class="grid-container">

    <main> 
                <div class="products-container">
                <div class="search">   
                    <form action="{% url 'search' %}" method="post" name="site-search">
                        {% csrf_token %}
                    
                        <input type="search" id="site-search" name="search" placeholder="search a product..">
                        <button type="submit"> <img src="https://img.icons8.com/material-two-tone/20/000000/search.png"/> </button>
                    </form>
                </div>
                <div class="filter-form"> 
                        <form action="{% url 'filter' %}" method="post">
                            {% csrf_token %}
                        
                            <select name="filter" id="filter" required>
                                <option disabled selected value> -- select a category -- </option>
                                <option value="Vegetables"> Vegetables</option>
                                <option value="Industrial crops">Industrial crops</option>
                                <option value="Grains"> Grains </option>
                                <option value="livestock"> livestock </option>
                                <option value="Fruits"> Fruits</option>
                                <option value="Farm inputs">Farm inputs </option>
                            </select>
                            <button type="submit" class="button_one"> filter</button>

                        </form>
                </div>

                <div class="market-links"> 
                    <button class="button_one" style=" margin-bottom:10px">  <a href="{% url 'add_product' %}" class="button_one"><i class="fa-solid fa-plus"></i> Add a Product </a></button>
                            <button class="button_one"> <a href="{% url 'market' %}" class="button_one"> All products </a> </button>
                </div>
                    <div class="product"> 
                        {%if productitems %}
                        <div class="product-grid">
                        {% for product in productitems %}
                        
                            <div class="item">
                                <div class="product_image" style="background:url('{{ product.main_image.url }}') ;background-position: center; background-size: cover;background-repeat: no-repeat;" loading="lazy"> </div>
                                    <div class="product-info">
                                        <p style="font-size: large;">{{ product.product }}</p>
                                        <p class="location"><i class="fa-solid fa-location-dot"></i> {{ product.location }}</p>
                                        <p class="price">  {{ product.price}}  </p>
                                    </div> 
                                    <div style="background-color: #f5f5f5;color: white;text-align: center;width: 100%;padding: 0.5rem;margin-top: 1rem;"> <a href="{% url 'product' slug=product.id %}" > Details</a></div>

                            </div>
                            {% endfor%}
                        </div>
                        
                        <div style="border-block:100px"> 
                            <p style="text-align:center;"> Page  {{productitems.number }} of  {{ productitems.paginator.num_pages }} </p> 
                       <div class="pagination11"> 
                           <p> {% if productitems.has_previous %}
                               <span style="text-align:left;"> 
                                       
                                       <a href="?page={{ productitems.previous_page_number }}"> &laquo; Previous</a>
                               </span >  
                           {% endif %}
                               {% if productitems.has_next %}
                               <span style="text-align: right; display: block;" >
                                   <a href="?page={{ productitems.next_page_number }}" >Next <i> &raquo;</i> </a>
                               </span>
                               {% endif%}
                           </p>
                           </div>  
                           
                   </div>

                    {%else%}

                   <div> No item at the moment </div>

                   {%endif%}
                </div>
                </div>
            </main>
            <div></div>
</div>
<style>
.grid-container{
    display: block;
    width: 100%;
    }
.products-container{
    width:100%;
    margin:auto;
    min-height: 100vh;
   
}

.filter-form{
    float:right;
    display: inline;
}   

    label {
    display: block;
   
}

input,select
 {
    margin: .4rem 0;
    padding: 7px;

}
button{
    background: none;
    border:none;
    padding: 3px;
    font-size: large;
}
button img{
    margin-bottom: -5px;
}
.market-links{
    margin-block: 20px;
}
.product-info{
padding:0.5rem ;
    width: 100%;
}
.price{
    color:var(--primary-color);
    margin-top:10px ;
}
.location{
    color:grey;
    margin-bottom: 6px;
}
.location i{
    color: grey;
}
.item{
   background-color: white;
    width: 250px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, min(200px));
    gap:4rem;
    margin-bottom: 2rem;
}
.product_image{
    width:100%;height:200px;
}
a{
    color: black;
}
@media screen and (max-width:768px) {
.grid-container{
        display: block;
        margin: auto;
    }
.filter-form{
   float: none;
    display: block;
} 
.products{
    justify-content: center;
    
}  
  .item{
    width: 170px;
  }
  .product_image{
    width:100%;height:140px;
}
.product-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap:1rem;
    margin-bottom: 5rem;
}  
input,select{
    padding: 10px;
    width: 100%;
} 
select{
    padding: 15px!important;
} 
}
@media screen and (max-width:320px) {
    .item{
    width: 100%;
    margin: auto;
    margin-bottom: 1rem;
  }
  .product_image{
    width:100%;height:180px;
}
.product-grid{
    display: block;
    margin-bottom: 5rem;
} 
}
</style>
{% endblock %}