{% extends 'main/base.html'%}
{% block content %}

<div class="addproduct_container">
    <h2> add new products</h2>
<form action="{% url 'add_product' %}" method="post" enctype="multipart/form-data" >
    {% csrf_token %}
    {{form.user_profile.as_hidden}} <br>
    Product: {{form.product}} <br>
    Description:{{form.product_description}} <br>
    Price:{{form.price}} <br>
    quantity:{{form.quantity}} <br>
    Location:{{form.location}} <br>
    Main image:{{form.main_image}} <br>
    Image2:{{form.image2}} <br>
    Image3:{{form.image3}} <br>
    Category:{{form.product_category}}
<br>
  <button class="button_one"> Send</button>
</form>
</div>


<style>
   div.addproduct_container{
    width:100%;
    margin: auto;
    max-width: 800px;
    padding: 1rem;
    margin-bottom: 100px;
   }
   .button_one{
width: 100%;
}


</style>
{% endblock %}