{% extends 'main/base.html'%}
{% block title %}Add product | My AgricDiary{% endblock %} 

{% block content %}

<div class="addproduct_container">
    <h2> Add new products</h2>
    <br>
<form action="{% url 'add_product' %}" method="post" enctype="multipart/form-data" >
    {% csrf_token %}

    
    <label for="author">Display item as </label>
    <select name="company" id="companyproduct" required>

        <option value="None"> {{request.user.get_full_name}}</option>
        {% if options %}
       
            No</option>
        {%for item in options %}
        <option value={{item.identifier}}>
            post as {{item.name}}</option>
            {%endfor%}
            {%endif%}
    </select>
   
    {{form.user_profile.as_hidden}} <br>
    Product Name: {{form.product}} <br>
    Description:{{form.product_description}} <br>
    Price:{{form.price}} <br>
    Quantity:{{form.quantity}} <br>
    Location:{{form.location}} <br>
    Main image:<small>(*required) </small>{{form.main_image}} <br>
    Image2: <small>(Optional) </small>{{form.image2}} <br>
    Image3:<small>(Optional) </small>{{form.image3}} <br>
    Category:{{form.product_category}}
<br>
  <button class="button_one"> Add New product</button>
</form>
</div>

<script>
    // get all form elements on the page
const forms = document.querySelectorAll('form');

// loop through each form
for (let i = 0; i < forms.length; i++) {
  const form = forms[i];

  // add submit event listener to the form
  form.addEventListener('submit', (event) => {
    // get all file input fields in the form
    const fileInputs = form.querySelectorAll('input[type="file"]');

    // loop through each file input and check the file size and type
    for (let j = 0; j < fileInputs.length; j++) {
      const file = fileInputs[j].files[0];
      if (file) {
        const fileType = file.type.split('/')[1]; // get file extension

        if (file.size > 10 * 1024 * 1024) { // 10MB in bytes
          // display alert message
          alert('File size should not exceed 10MB.');

          // prevent form submission
          event.preventDefault();
          return false;
        } else if (!(fileType === 'jpeg' || fileType === 'png' || fileType === 'jpg')) {
          // display alert message
          alert('Please select a JPEG, PNG, or JPG file.');

          // prevent form submission
          event.preventDefault();
          return false;
        }
      }
    }
  });
}

</script>
<style>
   div.addproduct_container{
    width:100%;
    grid-area: main;
    margin: auto;
    margin-top: 100px;
    max-width: 800px;
    padding: 1rem;
    margin-bottom: 100px;
   }
   .button_one{
width: 100%;
}
input,textarea,select{
    margin-top: 1rem;
    width:100%
}
a{
    color: black;
}
@media screen and (max-width: 780px){
div.addproduct_container {
margin-top: 0;
}}
</style>
{% endblock %}