
{% extends 'main/base.html' %}
{% block content %}
<div class="grid-container"> 

  {% for messsage in messages %}
  <p style="text-align: center;margin-top: -25px;font-size: small;padding: 1rem;background-color: #d1eadb; display: block !important;"  >{{ messsage }}  </p>
  {% endfor %}
 <form method="POST"  enctype="multipart/form-data">
  {% csrf_token %}
    {{profile.as_p}}
  <br>
<button type="submit" class="button_one">Update</button>
</form>

</div>
<style>
.grid-container{
  padding: 1rem;
}
.form_control{
  padding: 1rem;
  width: 100%;
  margin-block:1rem;
}
.button_one{
width: 100%;
}
#checked{
  width: auto !important;
}
.errorlist li{
  list-style: none;
  font-size: small;
  text-align: center;
  color:rgb(243, 87, 87);
}

.flex-container{
  padding-top: 40px;
}
@media screen and (max-width: 780px){
.flex-container {

    padding-top: 140px;

}}
</style>


  <script>
    // JavaScript function
    var checkbox = document.getElementById("checked");
    if (checkbox){
      var students = document.getElementsByClassName("studentinput");

      var prof = document.getElementsByClassName("profinput");
    checkbox.addEventListener("change", function() {

      if (this.checked) {
        for (var i = 0; i < students.length; i++) {
        students[i].style.display = "block";
        students[i].closest('p').querySelector('label').style.display = 'block';

      }
      for (var i = 0; i < prof.length; i++) {
        prof[i].style.display = "none";
        prof[i].closest('p').querySelector('label').style.display = 'none';
      }
   
      } else {
        for (var i = 0; i < students.length; i++) {
        students[i].style.display = "none";
        students[i].closest('p').querySelector('label').style.display = 'none';
        }
        for (var i = 0; i < prof.length; i++) {
        prof[i].style.display = "block";
        prof[i].closest('p').querySelector('label').style.display = 'block';
      }

    }});}
  </script>

{% endblock %}