{% extends "main/base.html" %}
{% load i18n %}
{% load static %}

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'styles/login-style.css' %}">

<div class="container">

<p >Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
<form   method="POST" enctype="multipart/form-data">{% csrf_token %}

<table>
{{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {{form.as_p}}
    {% endfor %}
{% else %}
    {{ wizard.form }}
{% endif %}
</table>
{% if wizard.form.last_name %}
<p style="text-align:center;color:grey;font-size:small;margin-bottom: 1rem;"> By clicking Send, you agree to My AgricDiary's <a href="https://myagricdiary.com/legal/user_agreement/">User Agreement,</a> <a href="https://myagricdiary.com/legal/privacypolicy/">Privacy Policy </a> and <a href="https://myagricdiary.com/legal/cookie_policy/">Cookie Policy </a></p>

{% endif %}
<button class="button_one button_fulllength" value="{% trans 'submit' %}">  Send</button>
</form>
</div>
</div>
<style>
select,textarea{
  width: 100%;
}

</style>

<script>
    // JavaScript function
    var checkbox = document.getElementById("checked");
      var students = document.getElementsByClassName("studentinput");
      var prof = document.getElementsByClassName("profinput");

    checkbox.addEventListener("change", function() {
        console.log('change')
        console.log(students)
        console.log(prof)
      if (this.checked) {
        for (var i = 0; i < students.length; i++) {
        students[i].style.display = "block";
      }
      for (var i = 0; i < prof.length; i++) {
        prof[i].style.display = "none";
      }
      } else {
        for (var i = 0; i < students.length; i++) {
        students[i].style.display = "none";
        }
        for (var i = 0; i < prof.length; i++) {
        prof[i].style.display = "block";
      }
    }});
  </script>
{% endblock %}