
{% extends "main/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'styles/login-style.css' %}">
{% block title %}Log In | My AgricDiary{% endblock %} 

<div class="container">

    <form action="{% url 'login'%}" method="post">
        {% csrf_token %}
                {% if request.GET.next %}
                <input type="hidden" name="next" value="{{request.GET.next}}">
                {% endif %}
         {{form.as_p}}
        <button class="button_fulllength button_one"> Login</button>
    </form>
    <p style="text-align: center; margin-top: 10px;"> Don't have an account ? <a href="{% url 'signup' %}" style="color: var(--primary-color)">Signup</a> </p>
    <p style="text-align: center; margin-top: 10px; "><a href="{% url 'reset_password' %}" style="color: var(--primary-color);">Forgot password ?</a> </p>

</div>

<style>

li{
    list-style: none;
}
ul{text-align: center;
    margin-block: 1rem;
}
label{
    display: none;
}
</style>

{% endblock %}