{% extends "main/base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'styles/login-style.css' %}">

<div class="container">
<h2> Password reset </h2>
<p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

    <form  method="post">
        {% csrf_token %}
         {{form.as_p}}

        <button class="button_fulllength button_one"> Reset my password </button>
    </form>
    
    <p style="text-align:center;color:var(--primary-color);margin-bottom: 1rem;cursor: pointer;" id="id_email-button"><span onclick="toggleField(show='id_phonenumber',hide='id_email')" style="color:var(--primary-color);">Reset Using Phone Number</span></p>
    <p style="text-align:center;color:var(--primary-color);margin-bottom: 1rem; cursor: pointer;" id="id_phonenumber-button"><span onclick="toggleField(show='id_email',hide='id_phonenumber')" style="color:var(--primary-color);">Reset with Email address</span> </p>
    {%endif%}
</div>

<style>
    p{
        margin-block: 1rem;
    }
    </style>

<script>
    document.getElementById('id_phonenumber').style.display='none';
    document.querySelector('label[for="id_ phonenumber"]').style.display='none';

    document.getElementById('id_email').style.display='none';
    document.querySelector('label[for="id_email"]').style.display='none';

    document.getElementById('id_0-email').required = true;
    
    function toggleField(show,hide){
      var showelt = document.getElementById(show)
      var showeltLabel = document.querySelector(`label[for= ${show}]`);
      var showBtn = document.querySelector(`#${show}-button`)
    
    
      var hideelt = document.getElementById(hide)
      var hideeltLabel = document.querySelector(`label[for= ${hide}]`);
      var hideBtn = document.querySelector(`#${hide}-button`)
      var errorList = document.querySelectorAll(".errorlist");
      errorList.forEach(function(element) {
      element.innerHTML = '';
    });
    
    showelt.style.display='block';
    showeltLabel.style.display='block';
    showBtn.style.display='block';
    showelt.required =true;
    
    hideBtn.style.display='none';
    hideelt.style.display='none';
    hideeltLabel.style.display='none';
    hideelt.value='';
    hideelt.required =false;
    }
    
    </script> 
{% endblock %}