{% extends 'main/base.html'%}
{% block content %}

<div class="wrapper"> 
 
    <form action="{% url 'add_article' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <br>
   
        <label for="body">Body</label>
       
        <textarea rows="5" name="body" oninput="auto_grow(this)" placeholder="Write Text here..."></textarea>

    <br>
   
    <div class="create-post">
        <div class="left">
            <span>
          
                <a href="{% url 'profile' request.user.id %}">
                    <div class="roundedprofile" style="background:url('{{request.user.profilepic}}') ;background-position: center; background-size: contain;">
                      </div> 
                </a>   
 
            </span>         <span>{{request.user.get_full_name}}</span>
        </div>
        <div class="right">                        
             <button type="submit"  style="width:100%" id="buttonpost" class="button_one" disabled> Submit </button>
        </div>
     </div>
     <hr>
     
    </form>


</div>
<style>
    .wrapper{
        max-width: 900px;
        background-color: #fff;
        padding: 1rem;
        margin: auto;

    }
    form{
        width:100%;
        font-family: 'Open sans',sans-serif;
        margin-bottom: 100px;

    }
    form input{
        padding:15px;
        margin-bottom:10px;
        margin-top: 5px;
        width:100%;
        border: 1px solid grey;
        background-color: transparent;
    }
    textarea{
        width: 100%;
        padding: 1rem;
        border: none;
        border: 1px solid grey;
        background-color: transparent;
        margin-top: 1rem;
    }
    h2{
        color:var(--primary-color);
        margin-bottom: 20px;
    }
    p,label{
        color:grey
    }       
    button#buttonpost{
    color: #d4c44b;
    color: black;
    padding: 0.3rem;
    background-color: rgba(212,196,75,.7);

  }
  button#buttonpost:disabled{
    background-color: grey;
  }
    @media screen  and (min-width:780px){
        form{
            width:60%;
            margin:auto;
        }
        body{
            background-color: white;
        }
        
    }


</style>

<script>
    function auto_grow(element) {
        let button= document.getElementById('buttonpost')
      element.style.height = "5px";

      element.style.height = (element.scrollHeight)+"px";
      console.log(element.value.length)
      if (element.value.length > 0){
      
       button.disabled = false;
       button.style.backgroundColor = "#d4c44b";
       button.style.color = "black";

      }
      else{
        button.disabled = true;
       button.style.backgroundColor = "grey";
       button.style.color = "black";

      }

    }
  </script>

{% endblock %}
style="height:20px;width:400px;"