{% extends 'main/base.html'%}
{% block content %}

<div class="grid-container"> 

    <form action="{% url 'add_article' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="author">Write article as:</label>
        {% if options %}
        <select name="author" id="aticleauthor" required>
            <option value=""> select one</option>
            <option value='user'>
                  {{request.user.get_full_name}}</option>
            {%for item in options %}
            <option value={{item.identifier}}>
                {{item.name}}</option>
            {%endfor%}
        </select>
        {%else%}
        
        <select name="author" id="aticleauthor" required>
            <option value='user'> {{request.user.get_full_name}}</option>
        </select>
        {%endif%}

        {% if request.user.is_superuser %}
        <label for="post-type"> Article type</label>
        <select name="post-type" id="post-type" required>
            <option value=""> select one</option>
            <option value="News"> News Article</option>
            <option value="Post"> Post</option>
        </select>
        {%endif%}
        {{form.as_p}}
        <br>
        <label for="body">Body</label>
       
        <textarea rows="5" name="body" oninput="auto_grow(this)" placeholder="Write Text here..." required></textarea>
    <br>
    <button type="submit"  style="width:100%;margin-bottom: 100px;" id="buttonpost" class="button_one" > Post </button>
     
    </form>
</div>
<script>
// get all form elements on the page
const forms = document.querySelectorAll('form');

// loop through each form
for (let i = 0; i < forms.length; i++) {
  const form = forms[i];

  // add submit event listener to the form
  form.addEventListener('submit', (event) => {
    // get all file input fields in the form
    const fileInputs = form.querySelectorAll('input[type="file"]');

    // loop through each file input and check the file size and type
    for (let j = 0; j < fileInputs.length; j++) {
      const file = fileInputs[j].files[0];
      if (file) {
        const fileType = file.type.split('/')[1]; // get file extension

        if (file.size > 10 * 1024 * 1024) { // 10MB in bytes
          // display alert message
          alert('File size should not exceed 10MB.');

          // prevent form submission
          event.preventDefault();
          return false;
        } else if (!(fileType === 'jpeg' || fileType === 'png' || fileType === 'jpg')) {
          // display alert message
          alert('Please select a JPEG, PNG, or JPG file.');

          // prevent form submission
          event.preventDefault();
          return false;
        }
      }
    }
  });
}

</script>
<style>

    form{
        width:100%;
        font-family: 'Open sans',sans-serif;

    }
    form input,select{
        padding:15px;
        margin-bottom:10px;
        margin-top: 5px;
        width:100%;
        border: 1px solid grey;
        background-color: transparent;
        background-color: white;
    }

    textarea{
        width: 100%;
        padding: 1rem;
        border: none;
        border: 1px solid grey;
        background-color: white;
        margin-top: 1rem;
        font-size: medium;
    }
    h2{
        color:var(--primary-color);
        margin-bottom: 20px;
    }

    button#buttonpost{
    color: black;
    padding: 0.3rem;
    background-color: rgba(212,196,75,.7);

  }

@media screen and (max-width:768px) {
.grid-container{
    margin-top: 200px;
    padding: 1rem;
}
    
}

</style>

<script>
    function auto_grow(element) {
        let button= document.getElementById('buttonpost')
      element.style.height = "5px";

      element.style.height = (element.scrollHeight)+"px";
      console.log(element.value.length)
      if (element.value.length > 0){
      
       button.disabled = false;
       button.style.backgroundColor = "#d4c44b";
       button.style.color = "black";

      }
      else{
        button.disabled = true;
       button.style.backgroundColor = "grey";
       button.style.color = "black";

      }

    }
  </script>

{% endblock %}
