{% extends 'main/base.html'%}
{% block content %}
{% load static %}
{% load social_share %}

<link rel="stylesheet" href="{% static 'styles/feed.css' %}">
<div class="grid-container">

<main> 
  <div class="menubar">  
    <span id="spannews"><a href="{% url 'filter' 'News' %}?filter_by=category"> News </a></span>
    <span id="spanpost"><a href="{% url 'filter' 'Post' %}?filter_by=category"> Articles </a></span>
  </div>

            <div style="margin-bottom:20px">
                {% if user.is_authenticated %}
                    <a href="{% url 'add_article'%}">
                        <div class="create-post">
                           <div class="left">
                            <span class="roundedprofile" style="background:url('{{user.profilepic}}') ;background-position: center; background-size: contain;">  </span> 

                            <span> Share a thought</span>
                           </div>
                           <div class="right">                        
                                <span> <i class="fa-regular fa-image" style="font-size: 1.5rem;"></i> </span>
                                <span> <i class="fa-solid fa-pen-to-square" style="font-size: 1.5rem; "></i> </span>
                           </div>
                        </div>
                    </a>
                {% endif %}  
            </div>
            {% if query %}
            <div class="article-item" style="text-align: center;font-size: larger; "> Your search results for: {{query}} </div>
            {%endif%}
            {% if articles %}
            <div id="articles_container"> 
            {% for article in articles %}
                    <div class="article-item" id="article{{article.id}}"> 
                      {% if article.category == 'News'%}
                        <p style="margin-left: .8rem;margin-bottom: 1rem;margin-top: -1rem;">
                          <a href="{% url 'filter' article.category %}?filter_by=category">
                          <button class="button_three" style="background-color: var(--primary-color); color:rgb(212, 196, 75);margin-top: 0.5rem;" class="button_three"> # News </button></a>
                        </p>
                      {%endif%}
                      <div class="article-top" style="align-items: flex-start !important;"> 
                        <div class="author-info">
                          
                            <div class="right"> 
                              {% if article.author %}
                              <span class="roundedprofile" style="background:url('{{article.author.profilepic}}') ;background-position: center; background-size: contain;"> </span> 
                              <div> 
                                    <a href="{%  url 'profile' article.author.id %}"><span> {{ article.author.first_name|title}} {{ article.author.last_name|title }} </span></a>                            
                           
                                    <p> {{ article.whenpublished }}</p>
                                </div>
                                {%else%}
                                <span class="roundedprofile" style="background:url('{{article.company.logopic}}') ;background-position: center; background-size: contain;">  </span> 
                                <div>
                                      <a href="{%  url 'companyprofile' article.company.identifier article.company.name %} "><span> {{ article.company.name|title}}  </span></a> 
                                      <p> {{ article.whenpublished }}</p>
                                  </div>
                                {%endif%}
                            </div>

                            <div> 
                                {% if article.author == request.user or  article.company.user == request.user %}
                                <div class="dropdown">
                                    <span class="dropbtn" onclick="myFunction(data='myDropdown{{article.id}}')">...</span>
                                    <div id="myDropdown{{article.id}}" class="dropdown-content" style="min-width: 0;">
                                      <span><button onclick="deleteConfirm(event,id='article{{article.id}}', article_id='{{article.id}}' )">Delete</button></span>

                                    </div>
                                  </div>
                                {%else%}
                               
                                <span>
                                  {% if article.author %}
                                      {% if article.author in mynetwork.following.all %}
                                        <a href="{% url 'createchat' article.author.id %}"> <button class="button_three">Message</button> </a>
                                      {% else %}
                                         <button class="button_three" onclick="network(event,url='follow', profile_id='{{article.author.id}}' ,id='{{article.id}}followbtn{{article.author.id}}')" id="{{article.id}}unfollowbtn{{article.author.id}}">+Follow</button>
                                      {% endif %}
                                  {%endif%}
                                  {%if article.company %}
                                      {% if request.user in article.company.pagefollowers.all %}
                                      <span class="button_three" id='companyfollowbtn'  onclick="networkcompany(event, profile_id='{{article.company.identifier}}',id ='companyfollowbtn' )" style="cursor: pointer;" >Following</span>
                                      {% else %}
                                      <span class="button_three" id='companyunfollowbtn' onclick="networkcompany(event, profile_id='{{article.company.identifier}}', id='companyunfollowbtn' )" style="cursor: pointer;" >Follow</span>
                                      {% endif %}

                                  {%endif%}
                                </span>
                                {% endif %}
                            </div>
                        </div>
                       {%if article.title %} <p> {{article.title|safe}} </p> <br>{%endif%}

                        <div class="article-body toggle-text">
                                    <p id ='text'>{{article.body|safe}}  </p>
                                    <p style="margin-block:0.7rem"> {% for tag in article.tag.all %} <a href="{% url 'filter' tag.slug %}?filter_by=tag" style="color: var(--primary-color); font-size: small;">#{{tag.slug}} </a> {%endfor%}</p>

                      </div>
                        {% if article.article_image %} 

                        <div class="article_image">     
                            <img src="{{ article.article_image.url }}" alt="article image" width="100%">
                        </div>
                        {% endif %}
                        <div class="engagment"> 
                            <span>                                    
                                <span class="like-button" data-id="{{ article.id }}" >
                                    {% if user not in article.likes.all %}
                                    <img src="{% static 'images/like.png' %}" width="25px">
                                    {% else %}
                                    <img src="{% static 'images/love.png'%}" alt="liked" width ="25px">
                                    {% endif %}  
                                </span>

                                <span class="likes">{{article.likes.all.count}} </span>
                            </span> 

                            <span>
                              <div class="share-button" style="text-align: center;">
                                    <span href="#" class="social-toggle" onclick='share("{{article.slug}}")'>Share <i class="fa-sharp fa-regular fa-share"></i></span>
                                      <div class="social-networks" id='{{article.slug}}'>
                                          <ul>
                                              <li class="social-twitter">
                                                {% post_to_twitter "New Post: Check it out!" 'https://www.myagricdiary.com/'|add:article.slug '<i class="fa-brands fa-twitter"></i>' %}
                                              </li>

                                              <li class="social-facebook">
                                                {% post_to_facebook 'https://www.myagricdiary.com/'|add:article.slug '<i class="fa-brands fa-facebook-f"></i>' %}
                                              </li>

                                              <li class="social-insta">
                                                    {% post_to_linkedin 'https://www.myagricdiary.com/'|add:article.slug '<i class="fa-brands fa-linkedin"></i>' data-counter="none" %}
                                              </li>

                                              <li class="social-whatsapp">
                                                  {% post_to_whatsapp 'https://www.myagricdiary.com/'|add:article.slug '<i class="fa-brands fa-whatsapp"></i>' %}
                                              </li>
 

                                        </ul>
                                  </div>
                                 </div>                   
                            </span>

                            <span> <a href=" {% url 'details' article_slug=article.slug %}"> Comment ({{ article.comments.all.count }})</a></span>
                         </div>
                    </div>
                  </div> 
            {% endfor %}
          </div>
        <div style="margin-block:20px 40px"> 
                <p style="text-align:center;"> Page  {{ articles.number }} of  {{ articles.paginator.num_pages }} </p> 
            <div class="pagination11" style="display: flex; justify-content: space-between;align-items: center; padding-inline: 1rem;"> 
                <span> 
                  {% if articles.has_previous %}
                            <a href="?filter_by={{pagefilter}}&page={{ articles.previous_page_number }}"> &laquo; Previous</a>
                {% endif %}
                </span> 
                <span>
                    {% if articles.has_next %}
                        <a href="?filter_by={{pagefilter}}&page={{ articles.next_page_number }}" >Next <i> &raquo;</i> </a>
                    {% endif%}
                </span>
            </div>  
        </div>   
        {% else %}
            <p style="text-align: center; background-color: #fff; padding: 1rem;"> No Articles at the moment </p>
        {%endif%} 
</main>

<div class="sidebar sidebar_right">
    <div class="filter" style="max-height: 50vh;overflow: scroll;">
      <form action="{% url 'search-article' %}" method="post">
        {% csrf_token%}
        <input type="search" name="search-query" id="search-query" placeholder="Search article">
        <button> <i class="fa-solid fa-magnifying-glass" style="font-size: 1.4rem; color:grey" ></i></button>
      </form>
      <p>Filter by Tag</p>
      <br>
      <p><a href="../../../">All articles </a></p>
      <br>
      {% for tag in tags %}
       
          <div><a href="{% url 'filter' tag.slug %}?filter_by=tag">{{tag.slug}} </a></div>

      {%endfor%}
      
    </div> 
    {% if friendsuggestions %}
    <div class="networksugestion" style="max-height: 50vh;overflow-y: scroll;">
        <p> People you may Know </p>
          <br>
        {% for item in friendsuggestions%}
        <div class="flex flex_outerfollow" style="justify-content: space-between;margin-bottom: 1rem;"> 
            <div class="flex" > 
                <a href="{% url 'profile' item.id %}"> <span class="roundedprofile" style="background:url('{{ item.profilepic}}') ;background-position: center; background-size: contain;" > </span> </a>
                    <div>
                        <a href="{% url 'profile' item.id %}"> <div class="contact-name"> {{ item.get_full_name|title }} </div>	</a>
                    </div>
            </div>
            <div> 
                {% if item != request.user %}
                <span>
                    {% if item in mynetwork.following.all %}
                        <button class="button_three" onclick="network(event,url='unfollow', profile_id='{{item.id}}',id='itembtn')" >Unfollow</button>
                    {% else %}
                        <button class="button_three" onclick="network(event,url='follow', profile_id='{{item.id}}' ,id='itembtn')" >Follow</button>
                    {% endif %}
                </span>
                {% endif %}
            </div>
        </div>
        {% endfor %}
       
    </div>
    {% endif %}
    <div> 
    </div>
</div>

</div>
<style>
  share-button { 
  margin: auto;
  position: absolute; 
  top: 0; 
  left: 0;
  bottom: 0;
  right: 0;
  width:6em;
  height:2em;
  line-height:2em;
 }

.social-toggle {
  display: inline-block;
    text-align: center;
    transition: all 0.25s;
    cursor: pointer;
    padding: 0.4rem;
}

.social-toggle:hover {
  background:rgb(200,200,200);
  color:#333;
}

.no-js .social-toggle, .no-js .social-toggle:hover {
  cursor: default;
  border:none;
  background:transparent;
  color:rgb(200,200,200);
  pointer-events:none;
}

.social-networks {
  -webkit-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform: scale(0) translateY(-190px);
  transform: scale(0) translateY(-190px);
  opacity: 0;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  /* stops flickering */
  -webkit-backface-visibility: hidden;
}

.social-insta {
  background: #8a3ab9;
}

.social-twitter {
  background: #6cdfea;
}
.social-whatsapp {
  background: #25D366;
}
.social-networks.open-menu, .no-js .social-networks {
  -webkit-transform: scale(1) translateY(-90px);
  transform: scale(1) translateY(-90px);
  opacity:1;
}


.social-networks ul {
  position:relative;
  top:0;
  left:0;
  width: 250px;
  height: 50px;
  color: #fff;
  background: #3b5998;
  margin: auto;
  padding: 0;
  list-style: none;
  display:flex;
  justify-content:space-evenly
}

.social-networks ul:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  right: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}

.social-networks.open-menu ul:after, .no-js .social-networks ul:after {
  margin: 35px auto;
  border-top: 12px solid #3b5998;
}
  
.social-networks li {
  width: 50px;
  text-align: center;
  float: left;
  display: block;
  height: 50px;
  line-height:50px;
  position: relative;
  z-index: 2;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  transition: all .3s ease;
}

.share-button a {
  text-decoration:none;
}

.social-networks a {
  display:block;
  color:white;
}

.social-networks a:hover {
  color:#222;
}


</style>
<style>
  pre{
    white-space: break-spaces !important;
  }
  #text{
    cursor: pointer;
  }
  main{
    padding: 0 !important;
  }
  .sidebar_right{
    padding: 0;
    background-color: transparent;
  }

  .filter form{
    width: 100%;
    display: flex;
    align-items: center;
    gap:7px;
    margin-bottom: 15px;

  }
  .filter input{
    width: 100%;
    padding: .6rem;
    background-color: white;
    border: 1px solid grey;
    border-radius: 5px;
  }
  .filter div{
    padding: .5rem;
    margin-block: .3rem;
    display: inline-block;
    border-radius: 5px;
    background-color: #f1f1f1;
  }
  .filter div:hover{
    background-color: #f5f5f5;
  }

  button{
    color: black;
    background-color:whitesmoke;
    padding: 0.3rem 0.9rem;
    border-radius: 4rem;
    cursor: pointer;
  }
  .inner_networksugestion{
    width: 100%;
    display: flex;
    overflow-x: scroll;
    gap: 0.5rem;
    padding:5px
  }
 .inner_item{
    min-width: 180px;
    height: 190px;
    font-size: small;
    padding: 0.8rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    border-radius: 10px;

 }
 .menubar{
  padding: 1rem 0.5rem;
    margin-top: 2px;
 }
 .menubar #spannews{
  background-color: #d4c44b;
    margin-right: 0.5rem;
    padding: 0.4rem 0.9rem;
 }
 .menubar #spanpost{
  background-color: var(--primary-color);
    padding: 0.4rem 0.9rem;
 }
 #spanpost a,#spannews a{
  color:whitesmoke
 }
</style>
<script>
  function share(id){
  document.getElementById(id).classList.toggle("open-menu");
}
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
  function network(event,url,profile_id,id){
          event.preventDefault();
          var btn = document.getElementById(id)
          var link = '/friends/' + url + '/' + profile_id
          console.log(link)
          $.ajax({
              url: link,
              type: 'GET',
              success: function(result) {
              // Handle the success response
              console.log(result)
              if (result.data === 'follow'){
      
                btn.parentElement.innerHTML = `<button class="button_three" onclick="network(event,url='follow', profile_id='${profile_id}', id='${id}')" > +Follow </button>`;
                btn.remove();
               }
              else{
                
                btn.parentElement.innerHTML = `<button class="button_three" onclick="network(event,url='unfollow', profile_id='${profile_id}', id='${id}')"> unfollow </button>`;
                btn.remove();
} 
              }
          });
          

}

</script>
<script>
    function myFunction(id) {      
  let elt =document.getElementById(id);
  console.log(elt)
  elt.classList.toggle("show")
    }
</script>
<script>
        $(document).ready(function(){
  $(".like-button").click(function(e){
    e.preventDefault();
    var post_id = $(this).data('id');
    var likeButton = $('[data-id="'+post_id+'"]');
    console.log(likeButton)
  
    console.log(likeButton)
    var likes_span = $(this).siblings('.likes');
    $.ajax({
      url: '/' + post_id + '/like',
      dataType: 'json',
      success: function(data) {
        likes_span.text(data.likes);
        if (data.userLike === true) {
            likeButton.html(`<img src="{% static 'images/love.png' %}" width="25px">`)
        } else {
            likeButton.html(`<img src="{% static 'images/like.png' %}" width="25px">`)
        }
           
      }
    });
  });
});


</script>
<script>
  const elements = document.getElementsByClassName("toggle-text");
  for (let i = 0; i < elements.length; i++) {
  const element = elements[i];
  const text = element.innerText.trim();
  if (text.length > 200) {
 
  const fullText = element.innerHTML  + `<span id="showmore-less" style="margin-block: 5px; color:#d4c44b ;cursor: pointer;" >...less </span>
`;
  const shortText = element.innerHTML.substring(0, 200) + ` <span id="showmore-less" style="margin-block: 5px; color:#d4c44b ;cursor: pointer;" >... more </span>
`;
  element.innerHTML = shortText;
    let isTruncated = false;
    element.addEventListener("click", function() {
     
      if (isTruncated) {
      
      element.innerHTML = shortText;

      } else {
      element.innerHTML = fullText;

      }
  
      isTruncated = !isTruncated;
    });
  }
} 
  </script>
<script>

function deleteConfirm(event,id,article_id){
        if (confirm('Do you want to delete this Article.Action is irreversible')){
            event.preventDefault();
            var post = document.getElementById(id)
            console.log(id)
            console.log(article_id)
            $.ajax({
                url: '/delete_article/' + article_id ,
                type: 'GET',
                success: function(result) {
                // Handle the success response

                post.remove();
                }
            });
            
        }
        else{
            event.preventDefault();

}
}

</script>

<script>
  function networkcompany(url,profile_id,id){
          console.log('logded in')
          console.log(id)
          var btn = document.getElementById(id)
          var link = '/company/followpage/' + profile_id
          console.log(id)

          console.log(btn)
          $.ajax({
              url: link,
              type: 'GET',
              success: function(result) {
              // Handle the success response
              console.log(result)
              if (result.success === 'follow'){
                btn.parentElement.innerHTML = `<span class="button_three"  id='${id}' onclick="networkcompany(event, profile_id='${profile_id}', id='${id}' )" style="cursor: pointer;" >Follow</span>`;
                btn.remove();
               }
              else{
                btn.parentElement.innerHTML = `<span  class="button_three" id='${id}'  onclick="networkcompany(event, profile_id='${profile_id}',id='${id}' )" style="cursor: pointer;" >Following</span>`;
                btn.remove();
} 
              }
          });     

}

</script>

<script>
if (window.innerWidth < 768) {
  const div = `<div class="inner_networksugestion">
        {% for item in friendsuggestions%}
            <div class="inner_item"> 
                <a href="{% url 'profile' item.id %}"> <span class="roundedprofile" style="background:url('{{ item.profilepic}}') ;background-position: center; background-size: contain; width:80px !important;height:80px !important;margin-inline:auto" > </span> </a>
                  <p>
                        <a href="{% url 'profile' item.id %}">{{ item.get_full_name|title }} </a>
                  </p>
            <div> 
                {% if item != request.user %}
                <span>
                    {% if item in mynetwork.following.all %}
                        <a href="{% url 'createchat' item.id %}"> <button class="button_three" style="background-color:#d4c44b">Message</button> </a>

                    {% else %}
                        <button class="button_three" onclick="network(event,url='follow', profile_id='{{item.id}}' ,id='itembtn')" style="background-color:#d4c44b">Follow</button>
                    {% endif %}
                </span>
                {% endif %}
            </div>
          </div>
        {% endfor %}
       
    </div>`
    const parentElement = document.querySelector('#articles_container');
    const itemElements = parentElement.querySelectorAll('.article-item');

    for (let i = 6; i < itemElements.length; i += 7) {
    const innerProfiles= document.createRange().createContextualFragment(div);
 
    parentElement.insertBefore(innerProfiles, itemElements[i + 1]);
  }
}

</script>
<script>
  function share(id){
  document.getElementById(id).classList.toggle("open-menu");
}
</script>

{% endblock %}