{% extends 'main/base.html'%}
{% load static %}
{% block content %}
{% load social_share %}
<link rel="stylesheet" href="{% static 'styles/feed.css' %}">
<div class="grid-container">


<main> 
  {% if article.title %}
<div> <h1 style="word-wrap: break-word;"> {{article.title|capfirst}} </h1></div>
<br>
{% endif %}



    {% if article.article_image %} 
     <div class="article_image" > 
      <img src="{{article.article_image.url}}" alt=""> 
      
    </div> 
     {% endif %}

<br>

<div>
  {%if article.author %}
  <a href=" {% url 'profile' article.author.id %} ">  Post by: {{article.author.first_name}}  {{article.author.last_name}} </a>
  {%else%}
  <a href="{%  url 'companyprofile' article.company.identifier article.company.name %}"> Post by: {{article.company.name}}</a>
 {%endif%}
  <p>  {{article.date}}  </p>
</div> 
<br>
<div> {{article.body|safe}} </div>
<p style="margin-block:0.7rem"> {% for tag in article.tag.all %} <a href="{% url 'filter' tag.slug %}?filter_by=tag" style="color: var(--primary-color); font-size: small;">#{{tag.slug}} </a> {%endfor%}</p>

<div class="engagment"> 
  <span>                                    
      <span class="like-button" data-id="{{ article.id }}" >
          {% if user not in article.likes.all %}
          <img src="{% static 'images/like.png' %}" width="25px">
          {% else %}
          <img src="{% static 'images/love.png'%}" alt="liked" width ="25px">
          {% endif %}  
      </span>
      <span class="likes">{{article.likes.all.count}} </span>
  </span> 

  <span>
    <div class="share-button" style="text-align: center;">
          <span href="#" class="social-toggle" onclick='share("{{article.slug}}")'>Share <i class="fa-solid fa-share-nodes"></i></span>
            <div class="social-networks" id='{{article.slug}}'>
                <ul>
                    <li class="social-twitter">
                      {% post_to_twitter "New Post: Check it out!" 'https://www.myagricdiary.com/'|add:article.slug '<i class="fa-brands fa-twitter"></i>' %}
                    </li>

                    <li class="social-facebook">
                      {% post_to_facebook 'https://www.myagricdiary.com/'|add:article.slug '<i class="fa-brands fa-facebook-f"></i>' %}
                    </li>

                    <li class="social-insta">
                      <a href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A//www.myagricdiary.com/{{article.slug}}"><i class="fa-brands fa-linkedin-in"></i> </a>
                    </li>

                    <li class="social-whatsapp">
                        {% post_to_whatsapp 'https://www.myagricdiary.com/'|add:article.slug '<i class="fa-brands fa-whatsapp"></i>' %}
                    </li>

                    <li class="social-what">
                      <span onclick="copy('https://www.myagricdiary.com/{{article.slug}}',this)" style="background-color: none;"><i class="fa-regular fa-clone"></i></span>
                  </li>
              </ul>
        </div>
       </div>                   
  </span>

  <span> Comment ({{ article.comments.all.count }})</span>
</div>

<div class="comments-box" id="comments-box">
  <h4> Comments ({{ article.comments.all.count }}) </h4>
  <br>

    {% for comment in comments %}
    <div class="flex">
      {% if comment.author %}
      <div style="width:30px"> 
      <div class="roundedprofile" style="background:url('{{comment.author.profilepic}}') ;background-position: center; background-size: contain;" >  </div> 
    </div>
    <div> 
      <div> <a href=" {% url 'profile' comment.author.id %}" style="color: #333;">{{comment.author.get_full_name}} </a></div> 
    {%else%}
    <div style="width:30px"> 
      <div class="roundedprofile" style="background:url('{{comment.companyauthor.logopic}}') ;background-position: center; background-size: contain;" >  </div> 
    </div>
    <div> 
      <div> <a href="{%  url 'companyprofile' comment.companyauthor.identifier comment.companyauthor.name %}" style="color: #333;">{{comment.companyauthor.name}} </a></div> 
    {%endif%}

        <div class="comment">   
          {{comment.comment}}
        </div> 
      </div>

     </div>
    {% endfor %}
</div>



<div class="comment-form">  
        <form action="{% url 'comment' article_slug=article.slug %}" method="post" id="commentform">
            {% csrf_token %}
            {{ comment_form.comment }}
            {% if options %}
            <br>
            <select name="author" id="articleauthor" required class="form_control">
                <option value=""> select one</option>
                <option value='user'>
                      {{request.user.get_full_name}}
                </option>
                {%for item in options %}
                <option value={{item.identifier}}>
                    {{item.name}}</option>
                {%endfor%}
            </select>
            {%else%}
            <select name="author" id="articleauthor" class="form_control" hidden>
              <option value='user' selected>
                {{request.user.get_full_name}}</option>
          </select>
            {%endif%}
            
            {% if user.is_authenticated %}
            <br>
              <button class="button_one button_fulllegnth" >Comment </button>
            {% else %}
            <br>
            <input type='button' value="Submit" class="submitbtn" onclick="commentAlert()" >
            {% endif %}
        </form>
 <br>
 <p id="commentalert" style="color: red;"> </p>
</main>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
  $(document).ready(function(){
$(".like-button").click(function(e){
e.preventDefault();
var post_id = $(this).data('id');
var likeButton = $('[data-id="'+post_id+'"]');
console.log(likeButton)

console.log(likeButton)
var likes_span = $(this).siblings('.likes');
$.ajax({
url: '/' + post_id + '/like',
dataType: 'json',

success: function(data) {
  likes_span.text(data.likes);
  if (data.userLike === true) {
      likeButton.html(`<img src="{% static 'images/love.png' %}" width="25px">`)
  } else {
      likeButton.html(`<img src="{% static 'images/like.png' %}" width="25px">`)
  }
}
});
});
});

</script>

<script>
  $(document).ready(function(){
$("#commentform").submit(function(e){
e.preventDefault();
var comment = $('#id_comment').val();
var id ='{{ article.slug }}';
var author =$('#articleauthor').val()
$.ajax({
url: '/' + id + '/comment',
dataType: 'json',
method:'POST',
data : {
    'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
  'comment' : comment,
  'author':author
},
success:function(data) {
   let div = `<div class="flex">
  
              <div style="width:30px"> 
              <div class="roundedprofile" style="background:url('${data.img}') ;background-position: center; background-size: contain;">  </div> 
            </div>
            <div> 
              <div> <a href=" {% url 'profile' request.user.id %}" style="color: #333;> ${data.name} </a> </div> 
              <div class="comment">   
                ${data.comment}
              </div> 
            </div>

        </div>
`
$('#comments-box').append($(div))
$('#id_comment').val(null)


}
});
});
});


</script>
<script>
  function share(id){
  document.getElementById(id).classList.toggle("open-menu");
}
</script>
<script>
  function copy(copy,button) {
    navigator.clipboard.writeText(copy);
        button.innerHTML = '✓'
  }
  </script>
</div>
</div>

<style>
  pre {
overflow-x: auto;
white-space: pre-wrap;
white-space: -moz-pre-wrap;
white-space: -pre-wrap;
white-space: -o-pre-wrap;
word-wrap: break-word;
font-family: 'Lexend Deca', sans-serif; 
font-size: 16px;
}
main{
  background-color: #fff;
  padding: 1rem;
}
.comment_field{
    width:100%;
    padding:1rem;
    border-radius: 5px;
    margin:auto;
  }
  .article_image img{
    width: 100%;
    object-fit: cover;
    }
  .comments-box{
    margin-block: 20px;
  }
  .comment{
  margin:2px  0 ;
}
.flex{
  align-items: flex-start;
  margin-bottom: 1rem;
}
  @media screen and (max-width:768px) {

  .comment{
    margin-bottom: 8px;
  } 

}
  

 </style>

{% endblock %}