{% extends 'main/base.html'%}
{% load static %}
{% block content %}

<div class="grid-container">


  <main> 

<div> <h1 style="word-wrap: break-word;"> {{article.title|capfirst}} </h1></div>
<br>

    {% if article.article_image %} 
     <div class="article_image" > 
      <img src="{{article.article_image.url}}" alt=""> 
      
    </div> 
     {% endif %}

<br>

<div>
  <a href=" {% url 'profile' article.author.id %} ">  Post by: {{article.author.first_name}}  {{article.author.last_name}} </a>
  <p>  {{article.date}}  </p>
</div> 
<br>
<div> {{article.body|safe}} </div>
<div class="engagment"> 
  <span>                                    
      <span class="like-button" data-id="{{ article.id }}" >
          {% if user not in article.likes.all %}
          <img src="{% static 'images/like.png' %}" width="25px">
          {% else %}
          <img src="{% static 'images/love.png'%}" alt="liked" width ="25px">
          {% endif %}  
      </span>

      <span class="likes">{{article.likes.all.count}} </span>
  </span> 

  <a href=" "><span> Share </span></a>
  <span> Comment ({{ article.comments.all.count }})</span>
</div>

<div class="comments-box" id="comments-box">
  <h4 > Comments ({{ article.comments.all.count }})  </h4>
  <br>

    {% for comment in comments %}
    <div class="flex">
  
      <div style="width:30px"> 
      <div class="roundedprofile" style="background:url('{{comment.author.profilepic}}') ;background-position: center; background-size: contain;" >  </div> 
    </div>

      <div> 
        <div> <a href=" {% url 'profile' comment.author.id %}" style="color: #333;">{{comment.author.get_full_name}} </a></div> 
        <div class="comment">   
          {{comment.comment}}
        </div> 
      </div>

     </div>
    {% endfor %}
</div>



<div class="comment-form">  

        <form action="{% url 'comment' article_slug=article.slug %}" method="post" id="commentform">
            {% csrf_token %}

            {{ comment_form.comment }}
            {% if user.is_authenticated %}
            <br>

              <button class="button_one" >Comment </button>
            {% else %}
            <br>
            <input type='button' value="Submit" class="submitbtn" onclick="commentAlert()" >
            {% endif %}

        </form>
 <br>
 <p id="commentalert" style="color: red;"> </p>
</main>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
  $(document).ready(function(){
$(".like-button").click(function(e){
e.preventDefault();
var post_id = $(this).data('id');
var likeButton = $('[data-id="'+post_id+'"]');
console.log(likeButton)

console.log(likeButton)
var likes_span = $(this).siblings('.likes');
$.ajax({
url: '/' + post_id + '/like',
dataType: 'json',

success: function(data) {
  likes_span.text(data.likes);
  if (data.userLike === true) {
      likeButton.html(`<img src="{% static 'images/love.png' %}" width="25px">`)
  } else {
      likeButton.html(`<img src="{% static 'images/like.png' %}" width="25px">`)
  }
}
});
});
});

</script>

<script>
  $(document).ready(function(){
$(".commentform").submit(function(e){
e.preventDefault();
var comment = $('#id_comment').val();
var id ='{{ article.slug }}';

$.ajax({
url: '/' + id + '/comment',
dataType: 'json',
  method:'POST',
  data : {
    'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
  'comment' : comment,
},
  success:function(data) {
   let div = `<div class="flex">
  
              <div style="width:30px"> 
              <div class="roundedprofile" style="background:url('{{request.user.profilepic}}') ;background-position: center; background-size: contain;">  </div> 
            </div>
            <div> 
              <div> <a href=" {% url 'profile' request.user.id %}"> {{request.user.get_full_name}} </a> </div> 
              <div class="comment">   
                ${comment}
              </div> 
            </div>

        </div>
`
$('#comments-box').append($(div))

}
});
});
});


</script>
</div>
</div>

<style>
  pre {
overflow-x: auto;
white-space: pre-wrap;
white-space: -moz-pre-wrap;
white-space: -pre-wrap;
white-space: -o-pre-wrap;
word-wrap: break-word;
font-family: 'Lexend Deca', sans-serif; 
font-size: 16px;
}
main{
  background-color: #fff;
  padding: 1rem;
}
.comment_field{
    width:100%;
    padding:1rem;
    border-radius: 5px;
    margin:auto;
  }
  .article_image img{
    width: 100%;
    object-fit: cover;
    }
  .comments-box{
    margin-block: 20px;
  }
  .comment{
  margin:2px  0 ;
}
.flex{
  align-items: flex-start;
  margin-bottom: 1rem;
}
  @media screen and (max-width:768px) {

  .comment{
    margin-bottom: 8px;
  } 

}
  

 </style>

{% endblock %}