
{% extends 'main/base.html' %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'styles/home.css'%}">

<div class="container">
<div class="home-wrapper">
    <div class="home_main_text" >
      <div>
          <h2> A Good harvest needs a Great Market </h2>
            <p><strong> We provide you the best information to get you a great harvest and a ready market to ensure a Great Sale </strong> </p>
        <br>
         <p>  <a href="{% url 'login'  %}" class="submitbtn" > <button class="button_two"> Login In</button> </a>
          <a href="{% url 'signup'  %}">  <button class="button_round_big">Sign Up</button> </a></p>
      </div>
    </div>

    <div class="hero-image">
      <img src="{% static 'images/herofarmer.jpg' %}" alt="hero-farmer" width="100%">
    </div>
  
</div>

</div>





<section class="about-us">
  <div class="about-us-wrapper">
     <h2 class="section-title"> What we offer ! <span> <img src="https://img.icons8.com/doodle/50/000000/plant-under-sun--v1.png"/></span></h2>
     <br>
  <div class="card-container">
    <div class="card">
          <div class="card-icon">
            <i class="fa-solid fa-store"></i>
          </div>
          <div class="card-text">
            <h4>Community </h4>
           A network of Farmers from all sectors of Agriculture to enable sharing of information and resources.

          </div>
    </div>

    <div class="card">
        <div class="card-icon">
          <i class="fa-solid fa-store"></i>
        </div>
        <div class="card-text">
          <h4> Market </h4>
            A marketplace to facilitate the Buying and selling of Agricultural inputs and outputs of all categories.
        </div>
  </div>
  <div class="card">
      <div class="card-icon">
        <i class="fa-solid fa-info"></i>
      </div>
      <div class="card-text">
        <h4> Information </h4>
         Provision of information to enable farmers make the best decisions for better yields.Information provided ranges  from News affecting the agricultural sector to real time Market prices and Weather information. 
      </div>
  </div>
    
  </div>

</div> 
</section >

<section class="values">
 
  <div class="values-wrapper"> 
      <div class="values-image">
        <img src="{% static 'images/valuesimg.jpg' %}" alt="hero-farmer" width="100%">
      </div>
        <div class="values-text">
              <p>
                <h2 class="section-title"> Who we are !</h2>
              </p>
              <p >  
                We are a digital platform specialized in providing information and market opportunities to Farmers in all Sectors of the Agricultural industry.
              <br>  At My Agric-Diary helping farmers succeed is at the core of our culture <br>
              </p>
              <ul>
                    <li> Society is built on the hard work of farmers.We help build the farmers. </li>
                    <li> We believe Farmers can live comfortable lives too. </li>
                    <li> We serve the common good. </li>
                    <li> We embrace the challenge and seek improvement. </li>              
              </ul>
        </div>
</div>

<div class="mission-container">
  <div class="mission-box">
                         <p style="margin-top:10px">
                          <img src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/60/008037/external-goals-user-interface-flatart-icons-outline-flatarticons.png"/>
                         </p> 
                         <p > <span style="text-decoration:underline;">what we do </span>  ... Improving Livelihood of farmers.
                          Giving the worlds 'hardest workers' a better chance
                         </p>
     </div>
     <div class="mission-box"> <p style="margin-top:10px"> <img src="https://img.icons8.com/ios-filled/60/008037/mission-of-a-company.png"/></p>
      <p> <span style="text-decoration:underline;">how we do it </span>  ...  We provide farmers the best information needed to enable a great harvest and a ready market to ensure a Great Sale
       </div> 
  <div class="mission-box"> <p style="margin-top:10px"> <img src="https://img.icons8.com/ios-filled/60/008037/morale.png"/></p>

    <p><span style="text-decoration:underline;">why we do it !</span> ...Because we are Farmers at heart and share in the Vision of Sustainable growth</p>

   </div>
 
</div>
</section>

<section style="text-align: center;"> 
  <p><a href="mailto:contact@myagricdiary.com"> <i class="fa-solid fa-envelope"></i> contact@myagricdiary.com </a></p>
<p > &#169; All copyrights reserved | myagricdiary 2023 </p>

</section>


</div>

</div>
{% endblock %}