{% extends 'main/base.html'%}
{% block content %}
{% load static %}

<div class="grid-container">

    <main>

        <div class="wrapper"> 
                <div class="app"><a href="{% url 'price_app'%}"> Price</a></div>  
                <div class="app"><a href="{% url 'weather_app'%}"> Weather</a></div>    
                <div class="app"><a href="{% url 'ai_room'%}"> Ai</a></div>    
  
        </div>
    </main>
    <div></div>
</div>
<style>
    .wrapper{
        display: flex;
        flex-wrap: wrap;
    }
    .app{
        width: 150px;
        height: 150px;
        padding: 1rem;
        background-color: green;
    }
</style>
{%endblock%}