{% extends "main/base.html" %}
{% load i18n %}
{% load static %}
<link rel="stylesheet" href="{% static 'styles/login-style.css' %}">

{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}
<div class="container">
<div class="right">
<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
<form   method="POST" enctype="multipart/form-data">{% csrf_token %}
  <p> 
    {% for field, error in form.errors.items %}
    {% if field != '__all__' %}{{ field }}{% endif %}
    {{ error | striptags }}
    {% endfor %}
</p>
<table>
{{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {{ form.as_p}}
    {% endfor %}
{% else %}
    {{ wizard.form }}
{% endif %}
</table>
{% if wizard.steps.prev %}
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
{% endif %}

<button class="button_one" value="{% trans 'submit' %}">  Send</button>
</form>
</div>
</div>
<style>
  .button_one{
    font-size: 1rem;
    padding: 1.5rem;
    width: 100%;
  }
input,form{
  padding: 1rem;
  width: 100%;
  font-size: 1rem;
}
table{
  width: 100%;
}
tr,td{
  display: block;
  width: 100%;
  margin-block: 0.6rem;
}

.container{
    height:100vh;
    display:flex;
    justify-content: center;
    width:100%;
    margin: auto;
}
.right{
    width:100%;
    max-width: 600px;  
}
.bodynav_right{
    display: none;
  }
</style>

<script>
    // JavaScript function
    var checkbox = document.getElementById("checked");
      var students = document.getElementsByClassName("studentinput");
      var prof = document.getElementsByClassName("profinput");

    checkbox.addEventListener("change", function() {
        console.log('change')
        console.log(students)
        console.log(prof)
      if (this.checked) {
        for (var i = 0; i < students.length; i++) {
        students[i].style.display = "block";
      }
      for (var i = 0; i < prof.length; i++) {
        prof[i].style.display = "none";
      }
      } else {
        for (var i = 0; i < students.length; i++) {
        students[i].style.display = "none";
        }
        for (var i = 0; i < prof.length; i++) {
        prof[i].style.display = "block";
      }
    }});
  </script>
{% endblock %}