
{% extends "main/base.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'styles/login-style.css' %}">


{% block content %}
<div class="container">
<div class="right">
    <h1 class="form-title" style="text-align: center;"> Login</h1>
    <form action="{% url 'login'%}" method="post">
        {% csrf_token %}
                {% if request.GET.next %}
                <input type="hidden" name="next" value="{{request.GET.next}}">
                {% endif %}

         {{form.as_p}}
        <button class="button_one"> Login</button>
    </form>
    <p style="text-align: center;"> Don't have an account ? <a href="{% url 'signup' %}">Signup</a> </p>
    
</div>
</div>
<style>
li{
    text-decoration: none;
}
  .button_one{
    font-size: 1rem;
    padding: 1.5rem;
    width: 100%;
  }
input,form{
  padding: 1rem;
  width: 100%;
  font-size: 1rem;
}
p>label, p{
    margin-bottom: 1rem;
}
.container{
    height:100vh;
    display:flex;
    justify-content: center;
    width:100%;
    margin: auto;
}
.right{
    width:100%;
    max-width: 600px;  
}
.bodynav_right{
    display: none;
  }
</style>


{% endblock %}