
{% extends "main/base.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'styles/login-style.css' %}">


{% block content %}
<div class="container">
<div class="right">
    <h1 class="form-title"> Login</h1>
    <form action="{% url 'login'%}" method="post">
        {% csrf_token %}
         <div class="errors"> 
            <p style="color:red"> 
                {% for field, error in form.errors.items %}
                {% if field != '__all__' %}{{ field }}{% endif %}
                {{ error | striptags }}
                {% endfor %}
                
                {% if request.GET.next %}
                <input type="hidden" name="next" value="{{request.GET.next}}">
                {% endif %}

            </p>
         </div>

         {{form.as_p}}
        <button class="button_one"> Login</button>
    </form>
    <p> Don't have an account ? <a href="{% url 'signup' %}">Signup</a> </p>
    
</div>
</div>
<style>
  .button_one{
    font-size: 1rem;
    padding: 1.5rem;
    width: 100%;
  }
input,form{
  padding: 1rem;
  width: 100%;
  font-size: 1rem;
}
table{
  width: 100%;
}
tr,td{
  display: block;
  width: 100%;
  margin-block: 0.6rem;
}

.container{
    height:100vh;
    display:flex;
    justify-content: center;
    width:100%;
    margin: auto;
}
.right{
    width:100%;
    max-width: 600px;  
}
.bodynav_right{
    display: none;
  }
</style>


{% endblock %}