
{% extends 'main/base.html'%}
{% load static %}

{% block content %}
<div class="grid-container">
    <main>

        <div class="wrapper"> 
            <div>
               
                <form>
                    <input type="search" name="" id="search-box" placeholder="Search User">
                    <button> <i class="fa-solid fa-magnifying-glass" style="font-size: 1.4rem; color:grey" ></i></button>
                </form>
               
            </div>
            <div id="contenthere" style="margin-bottom: 1rem;"></div>

        </div>
    </main>
    <div></div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>
    $(document).ready(function() {
    var resultsList = $('<ul class="search-results"></ul>');
    $('#contenthere').after(resultsList);
    
    $('#search-box').keyup(function() {
        var query = $(this).val();
        if (query.length >= 2) {
            $.ajax({
                url: '/account/queryusers/',

                
                success: function(data) {
                    var results = data.results;
                    resultsList.empty();
                    $.each(results, function(index, result) {
                        var link = $('<a></a>');
                        link.text(result.text);
                        link.attr('href', '/account/profile/' + result.id);

                        var span = $('<span></span>')
                        span.css('background-image', 'url(' + result.profilepic + ')');
                        span.addClass('roundedprofile')

                        var option = $('<li></li>');
                        option.append(span);
                        option.append(link);
                        option.addClass('flex')

                    
                        resultsList.append(option);
                    });
                    resultsList.show();
                }
            });
        } else {
            resultsList.hide();
        }
    });
    
    $(document).on('click', '.search-results li a', function() {
        resultsList.hide();
    });
});
</script>
<style>

.wrapper{
    padding-inline: 1rem;
}
li{
    list-style: none;
}
#searchuserbottom{
    display: none;
}
#search-box{
padding: 1rem;
background-color: #fff;
width: calc(100% - 3rem);
}
</style>
{% endblock %}