
{% extends 'main/base.html'%}
{% load static %}

{% block content %}
<div class="grid-container">
    <main>
        <div class="wrapper"> 
            <div>
                <form style="display: flex;" id="search-form">
                    <input type="search" name="" id="search-box" placeholder="Search Users or Pages">
                    <button class="button_one"> <i class="fa-solid fa-magnifying-glass"  ></i></button>
                </form>
            </div>
            <div id="contenthere" style="margin-bottom: 1rem;"></div>

        </div>
    </main>
    <div></div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>


</script>
<script>
    $(document).ready(function() {
    var resultsList = $('<ul class="search-results"></ul>');
    $('#contenthere').after(resultsList);
    $('#contenthere').text('');
    $('#search-box').keyup(function() {
    var query = $(this).val();
        if (query.length >= 2) {
            ajaxcall(query);
        } else {
            resultsList.hide();
        }
    });
    
    $(document).on('click', '.search-results li a', function() {
        resultsList.hide();
    });
});

$(document).ready(function() {
    var resultsList = $('<ul class="search-results"></ul>');
    $('#contenthere').after(resultsList);
    $('#search-form').submit(function() {
    event.preventDefault();
    var query = $('#search-box').val();
    $('#contenthere').text(`Your search results for : ${query}`);
    ajaxcall(query);
    });
});

        function ajaxcall(query){    
            $.ajax({
                url: `/account/queryusers/${query}`,
                success: function(data) {
                    var results = data.results;
                    resultsList.empty();
                    $.each(results, function(index, result) {
                        if(result.type =='user'){
                        var link = $('<a></a>');
                        link.text(result.text);
                        link.attr('href', '/account/profile/' + result.id);

                        var span = $('<span></span>')
                        span.css('background-image', 'url(' + result.profilepic + ')');
                        span.addClass('roundedprofile')

                        var option = $('<li></li>');
                        option.append(span);
                        option.append(link);
                        option.addClass('flex')

                    
                        resultsList.append(option);

                        }
                        else{
                            var link = $('<a></a>');
                        link.text(result.text);
                        link.attr('href', '/company/companyprofile/' + result.id + '/'+ result.text);

                        var span = $('<span></span>')
                        span.css('background-image', 'url(' + result.profilepic + ')');
                        span.addClass('roundedprofile')

                        var option = $('<li></li>');
                        option.append(span);
                        option.append(link);
                        option.addClass('flex')

                    
                        resultsList.append(option);
                        }

                    });
                    resultsList.show();
                }
            });
        }



</script>
<style>

.wrapper{
    padding-inline: 1rem;
}
li{
    list-style: none;
    margin-bottom: 1rem;
}
#searchuserbottom{
    display: none;
}
#search-box{
padding: 1rem;
background-color: #fff;
margin: 0;
}

@media screen and (max-width: 780px){
.flex-container {
    padding-top: 100px;
}}
</style>
{% endblock %}