*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif; 
    color:#313131;
}
:root{
    --primary-color:#4ba064;
    --primary-color:#008037;
}
body{
    background-color: #f2f1ef;
    background-color: #f5f5f5;
    width:100% !important; 

   
}
.flex-container{
    display: grid;
    grid-template-columns:  200px 1fr;
    grid-template-rows: auto;
  grid-template-areas: "sidebar main";
  position: relative;

}

a{
    text-decoration:none;
    color:var(--primary-color);
}
a:hover{
    color: #d4c44b;
}
.bodynav_right{
    padding: 1rem;
    background-color: #fff;
    grid-area: sidebar; /* place this element in the "sidebar" area defined in grid-template-areas */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 150px;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}
.bodynav_right a{
    padding-block: 1rem;
    width: 100px;
}
header{
    padding-inline:5%;
    padding-block: 1.2rem;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    color: #4ba064;
    z-index: 100;
}
.header-flex{
    display:flex;
    align-items:center;
    justify-content: space-between;
}
header a{
    color: #4ba064;
}
.header-right{
    display:flex;
    gap:20px;
    align-items:center;
}
.notification-counter{
    position:relative;
    margin-right: 1rem;
}
#counter{
    position: absolute;
    top: -10px;
    right: -20px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 0px 5px;
  }
nav{
    display: flex;
    flex-direction: column;
}
.message{
    width:90%;
    text-align: center;
    margin:auto;
    padding:5px;
    background-color: #F5F5F5;
}
.grid-container{
    margin-top: 100px;
    grid-area: main;
    display: grid;
    grid-template-columns:  1fr 35%;
    gap: 2rem;
    min-height: 80vh;
    padding-inline: 5%;
    margin-inline: auto;
    min-width: 80%;
    max-width: 1000px;
    padding: 1rem;
}
.sidebar{
height: 85vh;
 position:sticky;
 top: 100px;
 padding: 1rem;
 border-radius: 10px;

} 

.sidebar_right{
    background-color: #fff;
}
.sidebar_nav{
    width: 150px; 
    height: 100%;
    border-radius: 5px;
    padding: 1rem;
    background-color: #fff;
}
.sidebar_nav a{
    padding-block: 1rem;
}
.filter,.networksugestion{
    width: 100%;
    height: auto;
    padding: 1rem;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 10px;
  }

button{
    background-color: transparent;
    border: none;

    text-align: center;
}
.products{
    display:flex;
    flex-wrap:wrap;
    
}
.productform{
    width:100%;
    padding:10px 10px;
    display:block;
}

.menu{
    display: none;
}
.down1{
    display: none;
}


.flex{
	display: flex;
	justify-content: left;
	align-items: center;
	gap: 20px;
}

input,select,button,textarea {
    -webkit-border-radius:0;
    border-radius:0;

}
select {
  padding: 10px; /* Increase the padding to 10 pixels */
  -webkit-appearance: none; /* Disable iOS styling */
  -moz-appearance: none; /* Disable Firefox styling */
  appearance: menulist; /* Disable default styling */
}

footer{
    width: 100%;
    padding: 1rem;
    z-index: -1;
    margin-top: 30px;
    border-top: 1px solid grey;
    display: none;
  }
  footer a {
    padding:2%
  }

  .roundedprofile{
    display: block;
    height: 30px !important;
    width: 30px !important;
    border-radius: 50%;
    object-fit: contain;
    ;background-position: center; 
    background-size: contain;
    background-repeat: no-repeat;
}

/* buttons */
button.button_one{
    color: #d4c44b;
    color: black;
    padding: 0.3rem;
    background-color: rgba(212,196,75,.7);
    font-size: 1rem;

  }
  button.button_one a:hover{
    color:black
  }
  .button_fulllength{
    width: 100%;
  }
  .engagment{
    padding: 1rem;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-around;
}
input{
    padding: 7px;
  
  }
      #searchusertop{display:inline-block;
    }
    #searchuserbottom{
        display: none;
    } 
@media screen and (max-width:780px) {
    .flex-container{
        display: block;
    }
    .grid-container{
        width: 100%;
        margin-top: 150px;
    }
    .bodynav_right{
    display: none;
    }
.article-list-container {
    width:100%;
    margin:auto;
}  
.article-item{
    display:block;
}
.article_image{
    width:100%
}
.article-body{
    width:100%
}
.menu{
    display:block;
    position:absolute;
    right:10%;
    z-index:40000000000200; 
    position: fixed;        
}
nav .navlinks{
    position: absolute;
       display: flex;
       flex-direction:column;
       background-color: var(--primary-color);
       text-align: center;
       top:0;
        display: none;
        z-index: 20000000000200;
        left:0;
        min-height: 100vh;
        width: 100%;
        color: white;
        position: fixed;
    
    }
    .navlinks a{
        display: block;
        text-align: center;
        padding:5px;
        margin-block: 7%;
        color:var(--secondary-color)
    
    }   
    .dropdown-content{
        width:100%;
        background-color: var(--primary-color);
        
        padding:5px;
      
    }
    .dropdown-content a{
        margin-block: 3%;
        text-align: center;
      
    }

    .down1{
        display: inline;
    }
    .down2{
        display: none;
    }
    footer{
      font-size: small;
      display: block;
      position: fixed;
      padding: 1rem;
      background-color: white;
      bottom: 0;
      z-index: 1;
      display: flex;
      justify-content: space-between;
    
      }
      .yellow{
        color: #d4c44b;
      }
      footer i{
        display: block;
        font-size: 1.2rem;
      }
      footer a{
        display: flex;
        align-items: center;
        flex-direction: column;
      }
      .grid-container{
        display: block;
        width: 100%;
        padding: 0;
        margin-bottom: 100px;
    }
    .sidebar{
        display: none;
    }
    .sidebar_right{
        display: block;
        height: auto;
    }
    main{
        width: 100%;
        border: none;   
 }
    .profile-container{
        width: 100%;
    }
    #searchusertop{display: none;
    }
    #searchuserbottom{
        display: block;
    }   
        #searchuserbottom input{
        width:90%;
    }
}

