
{% extends 'main/base.html'%}
{% load static %}



{% block content %}

<div class="grid-container">

    <main>

        <div class="wrapper"> 
            {% if notification %}
         
            {% for obj in notification %}
            <div class="item flex" > 
                    <div class="flex" > 
                       <a href="{% url 'profile' obj.trigger.id%}"> <span class="roundedprofile" style="background:url('{{ obj.trigger.profilepic}}') ;background-position: center; background-size: contain;" > </span> </a>
                            <div>
                                <div class="contact-name"><div>{{obj.message}} </div> </div>	
                            </div>
                    </div>
                    <div> <small> {{obj.whencreated}}</small> </div>
            </div>
            {% endfor %}
            {%else%}
            <div> You have no notifications at the moment </div>
            {%endif%}
        </div>
    </main>
    <div></div>
</div>

<style>

.item{
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background-color: #fff;
}

</style>
{% endblock %}