
{% extends 'main/base.html'%}
{% load static %}



{% block content %}
{% block title %}Notifications| My AgricDiary{% endblock %} 

<div class="grid-container">

    <main>

        <div class="wrapper"> 
            {% if notification %}
         
            {% for obj in notification %}
            <div class="item flex" > 
                
                    <div class="flex" > 
                        {% if obj.trigger %}
                       <a href="{% url 'profile' obj.trigger.ui%}"> <span class="roundedprofile" style="background:url('{{ obj.trigger.profilepic}}') ;background-position: center; background-size: contain;" > </span> </a>
                       {% else %}
                       <a href="{%  url 'companyprofile' obj.trigger_page.identifier obj.trigger_page.name %}"> <span class="roundedprofile" style="background:url('{{ obj.trigger_page.logopic}}') ;background-position: center; background-size: contain;" > </span> </a>
                       {%endif%}
                            <div>
                                <div class="contact-name"> <a href="{{obj.url}}"><div>{{obj.message}} </div></a> </div>	
                            </div>
                    </div>
                    <div> <small> {{obj.whencreated}}</small> </div>
            </div>
            {% endfor %}
            {%else%}
            <div style="text-align: center;"> You have no notifications at the moment </div>
            {%endif%}
        </div>
    </main>
    <div></div>
</div>

<style>

.item{
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background-color: #fff;
}

</style>
{% endblock %}