
{% extends 'main/base.html'%}
{% block content %}
{% load static %}
<div class="grid-container">

<main> 
	<div class="card-body msg_card_body">
					
		{% for thread in threads %}
					<div class="contact-item">
						 
							<a href=" {% url 'chatroom' thread.id %}">
								{% if thread.first_person == user %}
								
									<div class="flex"> 
										{% if thread.second_person.profile_pic %}
										 <span class="roundedprofile" style="background:url('{{ thread.second_person.profile_pic.url}}') ;background-position: center; background-size: contain;"> 
										</span> 
										{% else %}
										<span><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9RzmCAKhjBMu6GN8LHxNLTw8Vt347xfIXWA&usqp=CAU" alt="" width="30px"></span>

										{% endif%}
										<div>
											<div class="contact-name"> {{ thread.second_person.get_full_name|title }} </div>	
											<div class="lastmessage"> {{thread.chatmessage_thread.last.message | truncatechars:40 }} </div>
											<span> {{thread.chatmessage_thread.last.message.whenpublished}}</span>

										</div>
									</div>
									
							
								{% else %}
								<div class="flex"> 
									{% if thread.first_person.profile_pic %}
									<span class="roundedprofile" style="background:url('{{ thread.first_person.profile_pic.url}}') ;background-position: center; background-size: contain;"> 
									</span> 
									{%else%}
									<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9RzmCAKhjBMu6GN8LHxNLTw8Vt347xfIXWA&usqp=CAU" alt="" width="30px">

									{%endif%}
									<div>
										<div class="contact-name"> {{ thread.first_person.get_full_name|title }} </div>	
										<div class="lastmessage"> {{thread.chatmessage_thread.last.message | truncatechars:30 }} </div>
										<span> {{thread.chatmessage_thread.last.message.whenpublished}}</span>

									</div>
								</div>
								{% endif %}
					
							</a>

					</div>
				
		{% endfor %}
 
		
	</div>
</main>



</div>


<style>
	.grid-container{
    display: grid;
    grid-template-columns:  1fr 40%;
    gap: 3rem;
    min-height: 80vh;
    padding-inline: 5%;
    width: 100%;
    max-width: 1700px;
}
main{
	background-color: white;
	padding: 1rem;
	border-radius: 5px;
}
.roundedprofile{
	height: 40px;
	width: 40px;
	border-radius: 50%;
	display: inline-block;
	object-fit: contain;
}
.contact-item{
	padding: .5rem;
	margin-bottom: 10px;
	border-bottom: 0.001px solid #f5f5f5;
}
.contact-item:hover{
	background-color: #f5f5f5;
	border-radius: 20px;

}
.flex{
	display: flex;
	justify-content: left;
	align-items: center;
	gap: 20px;
}

.contact-name{
color: black;
}
.lastmessage{
	margin-top: 5px;
}
@media screen and (max-width:780px) {
	body{
    background-color: #fff;
}
    .grid-container{
        display: block;
        width: 100%;
    }
    .sidebar{
        display: none;
    }
    main{
        width: 100%;
		border: none;
		padding: none;
		background-color: transparent;
	padding: 0rem;
	border-radius: 0px;

    }
    .profile-container{
        width: 100%;
    }
	.contact-item:hover{
	background-color: transparent;
}


}
</style>
{%endblock%}